[2013-05-08 22:41] jhamman opened #2 "Little issue"
See later

[2013-05-08 23:03] #2 closed, assigned to nobody

[2013-07-03 20:54] bartnijssen opened #7 "VIC code reorganization"
# Proposal for VIC source code reorganization
## What and why?

I propose a reorganization of the VIC code, that would allow multiple VIC drivers to use a single science core, so that science-based changes to the code can easily be shared amongst difference VIC configurations.

VIC is currently implemented in a number of different configurations, both offline and coupled. For example:
- offline, t

[2013-07-31 19:02] jhamman opened #13 "Carbon Cycle"
**Description** - Photosynthesis, soil respiration
**Optional?**   - Yes
**Comment** - Requires additional veg library parameters

[2013-07-31 19:08] jhamman opened #14 "Interpolated LAI"
**Description** - Linear interpolation of monthly LAI
**Optional?**   - Yes

[2013-07-31 19:09] jhamman opened #15 "Distributed Water Table"
**Description** - Accounts for wetland microtopography
**Optional?**   - Yes
**Needs modification:**
- Replace hard-coded distribution with input from a parameter file
- Move more code into subroutines

[2013-07-31 19:10] jhamman opened #16 "Lake-soil heat flux"
**Description** - Accounts for heat flux between lake and underlying soil
**Optional?**   - No, but not executed when no lake is present

No effect when the lake model is not implemented

[2013-07-31 19:12] jhamman opened #17 "Standalone MTCLIM"
**Description** - Split MTCLIM out from VIC into a stand-alone executable.  Remove OUTPUT_FORCE option.
**Optional?**   - No
**Comment** - Sandalone MTCLIM would need to output in standard VIC forcing format (netCDF).

See issue #23 for more details on forcing format.

[2013-07-31 19:14] jhamman opened #18 "Forcing file dates"
**Description** - Require forcing files to contain dates/times, and remove this information from the global parameter file.
**Optional?**	- No
**Comment** - This would be included by using properly formatted netCDF forcings.

See issues #17 and #23 for more details.

[2013-07-31 19:14] jhamman opened #19 "Loop over patches rather than veg types and elevation bands"
**Description** - Reorganize to allow multiple patches having different soil, land cover, topography, etc.  Regroup related elements together in more intuitive way. Requires data structure overhaul.
**Optional?**   - No
**Comment** - For semi-backward compatibility, would require tools for parameter file conversion.

[2013-07-31 19:16] jhamman opened #20 "Parameter/state file overhaul"
**Description** - Remove initial conditions from parameter files.  Separate the cell ID information from soil parameters.  Change format to netCDF?
**Optional?**	- Yes
**Comment** - For semi-backward compatibility, would require tools for parameter file conversion.

See issue #23  for more details

[2013-07-31 19:17] jhamman opened #21 "Get rid of user_def.h"
**Description** - Either remove these options or move them to global parameter file.  Remove #ifdef’s from code.  Remove VIC’s –o flag.
**Optional?**   - No

[2013-07-31 19:18] jhamman opened #22 "Remove DIST_PREC option"
**Description** - Remove all loops over dist and dist array dimensions from code.
**Optional?**   - No

[2013-07-31 19:19] jhamman opened #23 "NetCDF I/O"
**Description** - Use netCDF library to support binary I/O.
**Optional?**   - No
**Comment** - Includes: state files, history files, parameter files, and forcings.

[2013-07-31 19:19] jhamman opened #24 "Coupled Streamflow Routing"
**Description** - Couple [RVIC](https://github.com/jhamman/RVIC) to image mode drivers
**Optional?**   - Yes

See issue #7 for more details regarding the image mode drivers.

[2013-08-01 03:51] jhamman opened #25 "High evaporation with 24 hour timestep"
**High canopy evaporation**
Simulated evaporation from canopy storage may be unrealistically high for time step = 24 h

**Actual evapotranspiration sometimes exceeds potential evapotranspiration**
This may be another symptom of the high canopy evaporation for time step = 24h mentioned above

[2013-08-01 03:51] jhamman opened #26 "Improved frozen soil temperature formulation"
Model crashes in solve_T_profile under certain conditions when running with FROZEN_SOIL = TRUE and QUICK_FLUX = FALSE; currently handled with the Tfallback hack, but we would prefer a more robust, physically sound solution

[2013-08-01 03:53] jhamman opened #27 "Improved aerodynamic resistance and wind profile lapsing over canopy"
Keith Cherkauer and Alan Hamlet have both done some work on this.

[2013-08-01 03:54] jhamman opened #28 "Irrigation"
Will incorporate something like Ingjerd Haddeland's scheme

[2013-08-01 03:55] jhamman opened #29 "Vertical moisture diffusion"
Xu Liang (see below for contact info) has done some work on this

[2013-08-01 03:55] jhamman opened #30 "Groundwater"
Xu Liang (see below for contact info) has done some work on this
Students in the Lettenmaier lab are also working on this

[2013-08-02 16:11] tbohn opened #31 "Clean up surface_fluxes.c"
Currently the logic accounting for a) iteration between surface and canopy temperature solutions, b) snow step vs model step, and c) distributed precip results in a confusing mess of data structures and loops.  This makes adding features and preventing bugs more difficult than otherwise.

[2013-08-02 16:13] tbohn opened #32 "Reconcile the temperature lapse rates for penman() and snow bands"
Currently penman() uses LAPSE_PM (6 K/km), while snowbands use T_lapse (6.5 K/km).

[2013-08-02 16:15] tbohn opened #33 "MTCLIM disaggregation is performed only for grid cell center, not snow bands"
This might make a difference if VIC ever were to consider different lapse rates for Tmin and Tmax (which would result in different levels of shortwave radiation at different elevations).

[2013-08-02 16:18] tbohn opened #34 "Temporally/spatially varying lapse rates"
This would include different lapse rates for Tmin and Tmax, as well as seasonal changes in these.

Observations in mountainous areas suggest Tmin and Tmax can deviate substantially from the standard 6.5 K/km.

DHSVM allows for spatial and temporal variation in these lapse rates.

[2013-08-05 17:52] bartnijssen opened #35 "Daily vegetation parameters from file"
**Description** - Ability to read vegetation parameters for each vegetation type from file at a daily time step
**Optional** - yes

[2013-08-05 18:10] #29 closed, assigned to nobody

[2013-08-05 18:10] #30 closed, assigned to nobody

[2013-08-05 18:12] #27 closed, assigned to nobody

[2013-08-05 20:08] #25 closed, assigned to tbohn

[2013-08-07 16:50] tbohn opened #36 "Cumbersome input and output variable declarations in vicNl_def.h"
Currently, input and output variable declarations are handled in vicNl_def.h via precompile defines that alias strings like "OUT_RUNOFF" to numbers.  The cumbersome part of this is that, if we wish to keep the list organized in some way for ease of finding variables (e.g., alphabetic and/or grouped by module), then adding a new variable in the middle of the list requires renumbering the entire rem

[2013-08-07 17:53] tbohn opened #37 "Disallow explicit finite difference soil temperature scheme"
The explicit scheme (currently the default) is not accurate for certain combinations of time step and node spacing.  Currently VIC gives an error message if the user attempts to run the explicit scheme with these combinations.  Given that the implicit scheme (currently optional) has no such restrictions and does not require substantially more cpu time than the explicit scheme, it would seem benefi

[2013-08-07 17:57] tbohn opened #38 "Remove EXCESS_ICE scheme"
The EXCESS_ICE scheme was only used in one paper, in 2007.  This scheme (currently a user_def.h option) adds substantial complexity to the code in several functions.  Ensuring that new features are compatible with EXCESS_ICE is laborious and error-prone (similar to the DIST_PREC option).

People who would like to use this feature can always access an archived version of VIC that contains this feat

[2013-08-14 16:53] bartnijssen opened #39 "SUN1999 albedo implementation in snow_utility.c"
The SUN1999 snow albedo implementation in snow_utility.c appears different from that in the paper mentioned in the same code (see attached figure for the relevant section).

In particular:
- The calculated albedo is only used in Sun1999 for clear sky and is further modified in the case of cloudy skies, something that is not done in VIC
- From the paper, it would appear that the time unit in the de

[2013-08-14 17:31] tbohn opened #40 "VIC fails to read the lake parameter file correctly when some cells have no lakes"
The cause appears to be a simple flaw in the logic of parsing the lake parameter file.

[2013-08-14 22:30] bartnijssen opened #42 "Change basic time unit to seconds"
To allow for short model time steps and to standardize the time unit, make the basic time unit in VIC a second (rather than an hour as is currently. For example, run-times less than an hour are a must in most coupled applications.

[2013-08-15 01:40] #40 closed, assigned to tbohn

[2013-08-15 04:49] #13 closed, assigned to tbohn

[2013-08-15 04:50] #16 closed, assigned to tbohn

[2013-08-16 20:58] #15 closed, assigned to tbohn

[2013-08-16 23:39] #28 closed, assigned to jhamman

[2013-08-20 15:38] bartnijssen opened #47 "What is wgtpar.h?"
Anyone have any idea what the file wgtpar.h does in the VIC source code directory? It seems to be a stray. A grep shows the file is not _include_d by any file and all the content seems to be hardcoded.

If it really is extraneous, it should be removed (we may want to make sure that there are no other unused files in the source tree). Since it's now under version control we can always revive it.

[2013-08-20 15:49] bartnijssen opened #48 "Code formatting"
I suggest that we adopt some standard for VIC code formatting for a few reasons:

a) a mixture of tabs and spaces is currently used for code indentation, which depending on the individual users editor settings (tab size, etc.) makes for code that is very hard to read.

b) a lot of the code has trailing whitespace that some editors will auto remove (again depending on user settings). This leads to

[2013-08-21 01:00] jhamman opened #49 "Release Naming Conventions"
I’d like to propose a standard for determining release names for VIC based on the [Semantic Versioning 2.0.0]( http://semver.org/spec/v2.0.0.html) standard.  The standard proposes a version format of X.Y.Z (Major.Minor.Patch).  According to the standard:

I’ll suggest that the VIC API can be sufficiently defined by the existing user interface.  For this reason, major releases would be invoked when

[2013-08-25 22:37] tbohn opened #50 "Add sample VIC input/output dataset to archive"
We currently have a small sample dataset posted on the vic website for people to download and play with as an example.  One reason for adding this to the archive could simply be because when people download the model source code, it's nice for them to just get the sample dataset with it.

Another reason would be because different VIC versions require different parameters and/or different formats f

[2013-09-06 22:30] tbohn opened #51 "Wrong units for REL_HUMID in comments of vicNl_def.h"
in vicNl_def.h, REL_HUMID and OUT_REL_HUMID are described in comments as having units of [fraction].  But in initialize_atmos(), REL_HUMID is actually assumed to be a percent, and is divided by 100.  So users looking at vicNl_def.h will be misled.

All that needs to happen is to correct the comments.  I'd be happy to do this as part of hotfix 4.1.2.i.

[2013-09-09 19:43] homefc opened #52 "Understimation of incoming longwave radiation when forcing the model with downscaled shortwave radiation"
When downscaled daily downward shortwave radiation is used as an input to the model, for some reason incoming longwave is calculated assuming clear skies always, and this results in an underestimate of incoming longwave on cloudy days.
The error is likely linked to the estimate of the clear sky fraction in MTCLIM.

[2013-09-17 18:25] #51 closed, assigned to tbohn

[2013-09-17 18:42] #52 closed, assigned to tbohn

[2013-09-17 22:32] #14 closed, assigned to tbohn

[2013-09-19 15:28] jhamman opened #55 "OUT_ROOTMOIST does not contain “Root zone soil moisture”"
OUT_ROOTMOIST does not contain “Root zone soil moisture” as specified on the Internet. It is the moisture in the soil layers containing roots. This makes a difference if a soil layer is only partly occupied by roots.

An example:
most of my upper and middle soil layers have depths of 0.3 and 2.5 m, respectively, while roots occupy the upper layer and the uppermost 70 cm of the middle layer. Hence,

[2013-09-20 19:39] homefc opened #56 "Relic variables? Snow melting energy in particular"
After examining the snow melt energy output I concluded that the output values for that variable are not snow melting energy since they are non-zero mostly during the summer when SWE is zero. I don't know what that variable is outputing but since it's not affecting the rest of the variables I'm looking into, I won't look into it to move forward with my work. But I want others to know. Among things

[2013-09-26 18:59] tbohn opened #57 "This hotfix appears to be ready..."
Hi Joe,

I believe this hotfix is ready for release.  I had asked you to wait on it last week, in light of Homero's finding that melt_energy was getting garbage values intermittently (well, a single occurrence in a single grid cell, out of several grid cells).  We couldn't find any concrete evidence that this problem was caused by any of the fixes in the hotfix.

Just as an aside: we ran VIC in va

[2013-09-26 19:17] #57 closed, assigned to jhamman

[2013-09-27 15:53] tbohn opened #58 "Insufficient documentation for COMPUTE_TREELINE and JULY_TAVG_SUPPLIED"
While the COMPUTE_TREELINE and JULY_TAVG_SUPPLIED global parameter options and the July_Tavg soil parameter are described in the online documentation, it is not sufficiently clear to a new user that the July average air temperature needs to be supplied if their simulation does not contain any dates in July.

[2013-11-21 07:04] tbohn opened #59 "Scaling of moisture fluxes to hourly time step of local_forcing_data in initialize_atmos.c does not account for ALMA option"
When ALMA_INPUT is TRUE, and forcing time step is not hourly, any moisture fluxes in the forcings (e.g. precipitation) will be scaled incorrectly in initialize_atmos.c.  The fix is simply to add a check on options.ALMA_INPUT in the if statement surrounding the scaling.

[2013-11-21 07:10] tbohn opened #60 "VIC starts on the wrong forcing record if not starting the simulation on hour 0."
VIC starts on the wrong forcing record if not starting the simulation on hour 0.  This is caused by an incomplete check in make_dmy.c.  Make_dmy.c computes how many forcing records to skip (global->forceskip) by looking for the year and day of year specified as the start date.  Start hour is ignored, so that the first forcing record of the day is selected as the starting point, even if the restart

[2013-11-22 05:29] #59 closed, assigned to tbohn

[2013-11-22 05:29] #60 closed, assigned to tbohn

[2013-12-19 08:20] ShilpaDN opened #62 "Unable to install GitHub"
I am unable to install GitHub for Windows 7. When I try to install, a window pops out saying,

"Unable to retrieve application files. Files corrupt in deployment."

It then shows the following details in a notepad.

PLATFORM VERSION INFO
Windows : 6.1.7600.0 (Win32NT)
Common Language Runtime : 4.0.30319.1
System.Deployment.dll : 4.0.30319.1 (RTMRel.030319-0100)
clr.dll : 4.0.30319.1 (RTMRel.030319

[2013-12-19 08:32] #62 closed, assigned to nobody

[2014-01-01 02:21] tbohn opened #64 "Consistent logging function"
Currently, output messages are handled in several ways:
- fprintf()
- fprintf() surrounded by VERBOSE condition
- nerror()
- vicerror()

Ideally, all of these output types would be replaced by a single logging function, which would take as inputs a message string and a status code (see Bart's suggestion in issue #21 comments for more details).  Thus, a single function could handle errors, warnings

[2014-01-01 02:24] tbohn opened #65 "Consider removing LOG_MATRIC option"
Preliminary tests indicate that the LOG_MATRIC run-time option (formerly the LOW_RES_MOIST compile-time option in user_def.h) has little effect.

The preliminary tests were conducted at a few grid cells in the Columbia Basin.  It would be nice to conduct further tests over a wider variety of environments to confirm whether this option is necessary.

If it is deemed unnecessary, its removal should

[2014-01-03 02:58] tbohn opened #66 "Better out-of-box behavior for soil temperature scheme"
I've recently spoken with a user who was using bad parameters for the soil temperature scheme and getting bad results.  This probably has happened to other people too, due to VIC's lack of constraint on these parameters.

I'd like to suggest the following changes to VIC's defaults and parameter validation:
1. Make the implicit scheme the default when FROZEN_SOIL is TRUE, rather than the explicit s

[2014-01-09 04:44] tbohn opened #67 "Crash when EXP_TRANS and IMPLICIT are both TRUE"
VIC crashes on some cells when EXP_TRANS and IMPLICIT are TRUE (and FROZEN_SOIL is TRUE).

It may be that the crash-proofing that we've added in the past didn't cover this combination of options.

[2014-01-09 21:20] #21 closed, assigned to tbohn

[2014-01-09 21:21] #38 closed, assigned to tbohn

[2014-01-15 21:08] mrstu opened #70 "NO_LEAP Calendar Option"
This would be very useful for climate forcings that have a "no_leap" calendar.  LEAPYR is defined at the top of [make_dmy.c](https://github.com/UW-Hydro/VIC/blob/master/src/make_dmy.c).

[2014-02-03 23:26] bartnijssen opened #71 "No memory allocated for snow band arrays when using ARC_SOIL == TRUE"
Bug discovered in response to email to vic_users (https://mailman2.u.washington.edu/mailman/private/vic_users/2014-February/000410.html)

Memory for the snow band parameters is allocated in read_soilparam.c:

[code]

When ARC_SOIL is set to TRUE, this code is not executed, because the equivalent code is not in read_soilparam_arc.c (nor anywhere else).

The model then produces a memory error in:

[

[2014-02-05 00:09] bartnijssen opened #72 "VIC release confusing"
When I look at the [main VIC page](https://github.com/UW-Hydro/VIC), the message in the light blue block states

[code]

When I click on the latest commit 9e75cd7795, it gives me a README.txt that states:

`Description of changes from VIC 4.1.2.j to VIC 4.1.2.i`

and when I look under [releases](https://github.com/UW-Hydro/VIC/releases), it says that the latest release is VIC.4.1.2.i

My questions

[2014-02-05 15:55] #72 closed, assigned to jhamman

[2014-02-10 04:18] #66 closed, assigned to tbohn

[2014-02-10 04:20] #67 closed, assigned to tbohn

[2014-02-10 04:28] tbohn opened #74 "Poor performance of finite difference frozen soil temperature scheme"
Comparison with observations in Tibet indicates very large cold excursions during winter at depths between 1.5 and 3 m, when constant temperature specified at 7m depth.

Preliminary indications are that an incorrect term in the heat equation (in frozen_soil.c) is to blame; a different version of the code by Tara Troy (formerly of Eric Wood's lab) improves performance substantially.  However, Tara'

[2014-02-14 00:10] jhamman opened #75 "EXCESS_ICE build fails"
Bug discovered in response to email to vic_users (https://mailman2.u.washington.edu/mailman/private/vic_users/2014-February/000415.html)

User reports that build fails when EXCESS_ICE = TRUE in user_def.h.

[code]

As far as I can tell, `layer` is not initialize anywhere in [`full_energy.c`](https://github.com/UW-Hydro/VIC/blob/master/src/full_energy.c).

My first guess at a fix for this would be

[2014-02-14 17:44] #75 closed, assigned to tbohn

[2014-03-03 19:44] jhamman opened #76 "warnings when building VIC with GCC on MacOS"
I've recently noticed that the gcc compiler on MacOS throws some warnings when building VIC that I don't see on other platforms or on other versions of GCC.  I haven't had time to look into to the individual warnings with much detail yet but there is a chance that this version of the C compiler is catching errors that the standard GCC compiler (e.g. 4.4) does not catch.

These warnings are raised

[2014-03-07 04:12] #39 closed, assigned to tbohn

[2014-03-21 16:37] bartnijssen opened #78 "http://www.hydro.washington.edu/Lettenmaier/Models/VIC/FAQ/FAQ.shtml#11"
From the VIC FAQ:
http://www.hydro.washington.edu/Lettenmaier/Models/VIC/FAQ/FAQ.shtml#11

First - this shows that using "currently" without a date is meaningless.

More importantly, since we released VIC 4.1.2 a long time ago, we need to update this.

[2014-03-24 19:29] bartnijssen opened #79 "Test data sets"
We need to develop a test data sets that can be used to ensure that changes to VIC do what they are supposed to do and do not have any unintended side consequences. I will open a series of issues for this, since we'll need different test datasets for different use cases. This issue will serve as the parent issue that can be closed when all the test data sets have been developed. Note that these te

[2014-03-24 19:43] bartnijssen opened #80 "Cleanup of tools directory"
I have no idea how useful the actual tools directory is. Does anyone ever use this?

We should clean this out and make sure it actually aligns / is relevant to recent versions of VIC. It's in the github archive, so people can alway retrieve past tools, but if they are not maintained (or only support very specific use cases or old VIC releases) then they should be removed.

[2014-03-25 02:12] #47 closed, assigned to nobody

[2014-03-25 19:45] bartnijssen opened #84 "Remove unused calc_cloud_cover_fraction()"
The function is never used. In fact the code only calls an error function:

[code]

Since this was written in 2000, I think we can safely remove it.

Solution:
- remove file calc_cloud_cover_fraction.c
- remove function calc_cloud_cover_fraction() from vicNl.h

[2014-03-26 00:40] bartnijssen opened #86 "Unused functions"
This is based on b3afdc40fc48716eb48a7738dbb1259b9564f5c8

A number of functions are never used in VIC - we should consider removing all of these (to make code maintenance easier), especially since they will be preserved in the repo anyway.

If they are removed individual issues, commits, tests and pull requests should be created for all of them (or at least grouped by a common theme). In this iss

[2014-03-26 04:42] bartnijssen opened #87 "remove compute_dz()"
Remove:
- compute_dz.c
- compute_dz from vicNl.h
- compute_dz.o from Makefile

[2014-03-26 04:45] bartnijssen opened #88 "remove unused functions from calc_veg_params.c"
Remove:
- calc_veg_displacement()
- calc_veg_roughness()

from calc_veg_params.c and vicNl.h

[2014-03-26 04:54] bartnijssen opened #89 "remove unused write_* functions"
Remove
- from vicNl.h: write_snow_data(),  write_soilparam(), write_vegparam()
- from Makefile: write_snow_data.o, write_soilparam.o, write_vegparam.o
- from repo: write_snow_data.c, write_soilparam.c, write_vegparam.c

[2014-03-26 22:00] #87 closed, assigned to bartnijssen

[2014-03-27 18:10] #71 closed, assigned to bartnijssen

[2014-03-27 18:55] #89 closed, assigned to bartnijssen

[2014-03-27 18:56] #88 closed, assigned to bartnijssen

[2014-03-27 18:56] #86 closed, assigned to bartnijssen

[2014-03-27 18:56] #84 closed, assigned to bartnijssen

[2014-03-27 18:57] bartnijssen opened #99 "Unused function declaration in vicNl.h"
As part of cleanup, the following can be removed from vicNl.h:

// remove: double calc_snow_ground_flux(int, int, int, int, double, double, double,
// remove: double calc_trans(double, double);
// remove: void   distribute_soil_property(double *,double,double,
// remove: double error_calc_snow_ground_flux(double Tsurf, ...);
// remove: double error_print_snow_ground_flux(double, va_list);
// remov

[2014-03-27 21:42] #26 closed, assigned to nobody

[2014-03-27 23:48] #76 closed, assigned to jhamman

[2014-03-27 23:48] #99 closed, assigned to bartnijssen

[2014-03-28 17:05] bartnijssen opened #103 "Remove unused functions (and declarations) from lake formulation"
From LAKE.h
// remove: double adjflux(double, double, double ,double, double, double, double,
// remove: void alloc_atmos(int, atmos_data_struct **);
// remove: int get_depth_from_sarea(lake_con_struct, double, double *);
// remove: int ice_depth(lake_con_struct, double, double, double *);

from initialize_lake.c
// remove: int get_depth_from_sarea(lake_con_struct, double, double *);
// remove: in

[2014-03-28 20:08] #103 closed, assigned to bartnijssen

[2014-03-28 21:16] bartnijssen opened #105 "Code changes referenced in comment blocks: Do we want to continue that?"
Much of the VIC code has comment blocks at the top that contain the information that basically is the same (or similar) to what would be in a commit message. For example, the header in global.h states

[code]

The question is whether we want to maintain those (and keep adding going forward) or whether we strip them all and will rely on git commit messages instead. This has some disadvantages, sinc

[2014-03-28 21:31] bartnijssen opened #106 "$Id$ string: keep or not?"
Apparently there is a way in git to support the $Id$ strings from RCS that are in many of the VIC files by putting the leyword `ident` into a `.gitattributes` file.

However, if we are tracking inside git and are tagging our releases do we still need this (as long as we update the version string for the entire repo)?

We can do either, but if we keep it we have to make sure it actually works.

[2014-03-28 21:44] #106 closed, assigned to nobody

[2014-03-28 21:46] bartnijssen opened #107 "Enable $Id$ string in source files"
Based on issue #106 : Enable the RCS $Id$ in the source files.

Place keyword

`ident`

in

`.gitattributes`

If this does not work satisfactory, we'll get rid of them.

[2014-03-28 21:47] #105 closed, assigned to nobody

[2014-03-28 21:48] bartnijssen opened #108 "Remove change comment blocks from files"
Based on issue #105: Remove change comment blocks at the start of every file.

Instead we'll rely on git history and commit messages.

[2014-03-29 22:41] bartnijssen opened #111 "Replace comment format by //"
Replace all comments by the C++ style `//`

[2014-03-29 23:08] tbohn opened #112 "Investigate hard-coding of EXP_TRANS and NO_FLUX for case of QUICK_SOLVE=TRUE in calc_surf_energy_bal.()"
For the QUICK_SOLVE=TRUE option, EXP_TRANS and NO_FLUX are both set to FALSE in calc_surf_energy_bal().  This might make sense if QUICK_SOLVE makes some assumptions about node spacing and boundary conditions.  Currently there is a large commented question in the code asking "why would we do this???".  Seems like we should answer that question, make appropriate code changes (if any), and then get r

[2014-03-31 23:01] #111 closed, assigned to bartnijssen

[2014-04-01 02:42] #108 closed, assigned to bartnijssen

[2014-04-02 16:37] bartnijssen opened #113 "Uninitialized dummy_* variables in write_forcing_data.c"
The only compilation warning I get (using -Wall and Wno-unused) is

[code]

Normally I would just initialize the variable, but I think we may have a bug here (or I just don't see where the variable is assigned).

`dummy_dmy` and `dummy_dt` are not initialized in `write_forcing_data()` as far as I can tell and are then passed uninitialized to `write_data()`.

If the output format is binary in `writ

[2014-04-02 17:41] tbohn opened #114 "Fix uninitialized dummy variables in write_forcing_file()"

[2014-04-02 17:42] #114 closed, assigned to nobody

[2014-04-02 17:46] tbohn opened #115 "Memory leak in read_soilparam()"
Runing valgrind on hotfix 4.1.2.l, I found a memory leak in read_soilparam():

==6636== Searching for pointers to 20 not-freed blocks
==6636== Checked 81,952 bytes
==6636==
==6636== 20 bytes in 4 blocks are definitely lost in loss record 1 of 5
==6636==    at 0x4A0577B: calloc (vg_replace_malloc.c:593)
==6636==    by 0x447E3E: read_soilparam (read_soilparam.c:892)
==6636==    by 0x45E3D7: main (vi

[2014-04-02 18:03] #113 closed, assigned to tbohn

[2014-04-02 18:25] #115 closed, assigned to tbohn

[2014-04-03 01:04] tbohn opened #118 "Differences in energy fluxes between develop branch and VIC 4.1.2.l when FROZEN_SOIL=TRUE"
While testing the dist_prec removal (develop branch), I found differences in energy fluxes between this and VIC 4.1.2.l when FROZEN_SOIL=TRUE.

Upon further investigation, I found that the develop branch PRE dist_prec removal also has these differences with VIC 4.1.2.l, so they're not coming from the removal of dist_prec (however, a few smaller differences do still exist between post- and pre- dis

[2014-04-03 17:48] tbohn opened #120 "remove ARC_SOIL and SOIL_DIR from global.param.sample"
Just minor cleanup associated with removing the ARC_SOIL option.

[2014-04-09 22:59] bartnijssen opened #121 "Annotated tags"
When a VIC release is tagged, we need to make sure it is an annotated tag, so that it is displayed correctly when you use `git describe`

For the current master branch, `git describe` produces:

[code]

which means that the current release has seen 41 commits since VIC.4.1.2.j and that the last commit is 'a925fe8'

If I use `git describe --tags`, then I get the correct description (note that they

[2014-04-09 23:06] #107 closed, assigned to bartnijssen

[2014-04-09 23:30] #121 closed, assigned to jhamman

[2014-05-09 22:55] tbohn opened #123 "liquid soil moisture is allowed to go below 0 in runoff()"
liquid soil moisture is allowed to go below 0 in runoff().  We've only seen this in the case of bare soil, for some reason (perhaps because bare soil tiles have arno_evap, which doesn't shut down until residual is reached, instead of transpiration, which shuts down at wilting point, in the darkness of high latitudes in winter, and also when snow is present).

Runoff() has a check on total soil moi

[2014-05-12 19:39] #123 closed, assigned to tbohn

[2014-05-30 21:51] #35 closed, assigned to tbohn

[2014-05-30 21:56] #120 closed, assigned to jhamman

[2014-06-10 15:05] wangsgcn opened #128 "A bug in soil_conduction.c"
In soil_conduction.c,

[code]

when `T = 0.0, (-Lf * T) / 273.16 / (9.81 * bubble / 100.) = 0, if  -(2.0 / (expt - 3.0)) < 0 (expt>3.0)`, then VIC will crash at the function call of pow due to divided by zero.

Kludge fix:

[code]

I run to this bug when trying to run VIC 4.1.2.l with the 0.5-degree global parameter provided in UW website.

Reach me at wangsgcn@gmail.com (Shugong Wang) regarding t

[2014-07-09 07:18] jhamman opened #133 "Add license to repo"
Here is a good reference (set up by the folks at GitHub) on the different types of licenses available:  http://choosealicense.com

We probably should go with a GPL license that

It is also probably a good idea to add a piece of the license to the header of each source code file.

Related:  #48

[2014-07-09 18:39] jhamman opened #134 "Remove unused variables"
Removing the `-Wno-unused` flag from VIC's makefile reveals 401 unused variables in the current VIC source code.  I propose these be removed (or used as they were originally intended).

[code]

[2014-07-29 21:50] #32 closed, assigned to jhamman

[2014-08-20 16:28] bartnijssen opened #135 "Incorrect type in allocation for tminhour and tmaxhour"
in initialize_atmos.c:

[code]

should be:

[code]

Pull request on the way

[2014-09-23 17:13] bartnijssen opened #138 "potential divide by zero in runoff.c"
https://github.com/UW-Hydro/VIC/blob/develop/src/runoff.c#L262

if sum_liq == 0, this results in a divide by zero and NaNs in the code

sum_liq will be equal to zero if avail_liq[lindex][frost_area] == for all layers.

Maybe this should never happen, but this is what is happening in my version of the code (classic driver for VIC 5.0). This may be an initialization problem on my end, but I want to

[2014-09-23 23:12] jhamman opened #139 "Backport print library from VIC 5.0 develop branch"
@bartnijssen has developed a nice set of [print functions](https://github.com/bartnijssen/VIC/blob/feature/image/drivers/classic/src/print_library.c) for validation and debugging purposes.  These functions allow printing of individual structures as ASCII text.

I am going to simply backport those functions into the VIC 4.2 develop branch.

[2014-09-24 21:32] #139 closed, assigned to jhamman

[2014-09-25 05:21] #135 closed, assigned to bartnijssen

[2014-09-25 16:40] #58 closed, assigned to jhamman

[2014-09-25 16:58] #22 closed, assigned to tbohn

[2014-09-26 00:38] bartnijssen opened #145 "nan on develop branch"
As of commit https://github.com/UW-Hydro/VIC/commit/414cd66326b925eff058affe7f07f12a1b027fce , the code produces a NaN when run with frozen soils on. The test case for which this happens is available here: https://www.dropbox.com/s/yzrx524ea89cu68/vic_nan.tar.gz .

Note that the NaNs are not caused by the most recent commit, but the problem was introduced earlier. The master branch as of https://g

[2014-09-27 01:41] #133 closed, assigned to jhamman

[2014-09-27 01:42] #128 closed, assigned to jhamman

[2014-09-29 21:53] bartnijssen opened #147 "Small water balance error"
From @tbohn in pr #146

Note: I also noticed small water balance errors. These were present before the fix and are still present, i.e. the fix did not cause them. It is possible that these errors are related to the same overall code change (i.e., errors associated with available moisture and the movement of SPATIAL_FROST from user_def.h option to run-time option). Moving SPATIAL_FROST to run-time

[2014-09-29 22:02] #145 closed, assigned to tbohn

[2014-09-29 22:03] #138 closed, assigned to tbohn

[2014-10-05 02:19] #118 closed, assigned to tbohn

[2014-10-05 02:39] jhamman opened #154 "Update VIC webste for VIC 4.2"
As part of releasing VIC 4.2, we need to update the public documentation.  I can do the actual website updates but I will need some help from @tbohn on those issues that I am less familiar with.  Below is a list of the issues requiring new or augmented documentation:
#### New Features and Options:
- [x] #127 Partial vegetation cover - @tbohn
- [x] #35 Non-climatological time-varying veg parameters

[2014-10-08 18:56] jhamman opened #155 "Use MkDocs to generate VIC website?"
I'd like to propose using [Sphinx](http://sphinx-doc.org/) to generate the VIC website.  The main reasons I think it would be a good idea are:

- Easily versionable - users could select between version of documentation (4.1.2, 4.2, 5.0, etc.)
- Development is done outside of production area
- Supports deployment webhooks with git (e.g. [read-the-docs](http://read-the-docs.readthedocs.org/en/latest

[2014-10-09 19:26] #78 closed, assigned to tbohn

[2014-10-10 05:16] #55 closed, assigned to tbohn

[2014-10-16 21:46] bartnijssen opened #156 "release 4.2"
**4.2 is code-complete** (i.e. no new features, additions, etc). The only outstanding issues are
- [x]  Water balance bug: #147
- [x]  Web site documentation: #154.

I have moved the release date till the end of October to allow @jhamman time to fix the water balance error and @tbohn to provide documentation for the new features.

No commits other than the bug fix for #147 will be made to 4.2.

Th

[2014-11-13 21:27] #154 closed, assigned to jhamman

[2014-11-18 20:15] jhamman opened #158 "Is total evaporation is the sum of its sub-components?"
Fixing #147 has raised the concern that the sub-components of total evaporation may not all be updated properly after evaporation is rescaled (as it is in `runoff.c`).  It would be good to confirm that it is updated and that:

[code]

[2014-11-19 00:29] #158 closed, assigned to jhamman

[2014-11-19 00:51] #147 closed, assigned to jhamman

[2014-11-19 15:59] #156 closed, assigned to jhamman

[2014-11-19 16:37] jhamman opened #160 "remove dev_5.0 branch"
I have merged the dev_5.0 branch into the develop branch.  @bartnijssen , can you think of any reason to keep it around?

[2014-11-21 04:35] jhamman opened #162 "Code cleanup checklist"
Now that 4.2 has been released, we can move forward on cleaning up the source code. I spent a bit of time reading back through our discussion in #7, #48, and #134 and will try and provide an outline of what we need to do in order to close those issues.  One common thread that I think we want to stick to is to only keep documentation that is relevant and needed, extra stuff just leads to confusion

[2014-11-21 06:07] jhamman opened #163 "fix include syntax for header files"
According to the [gcc documentation](https://gcc.gnu.org/onlinedocs/gcc-4.9.0/cpp/Include-Syntax.html), the `#include` statement accepts two formats:
- `#include <file>`
  - This variant is used for system header files. It searches for a file named file in a standard list of system directories...
- `#include "file"`
  - This variant is used for header files of your own program. It searches for a f

[2014-11-23 05:02] jhamman opened #166 "Snow coverage should not be zero the time step the snowpack melts"
In [these lines in solve_snow.c](https://github.com/UW-Hydro/VIC/blob/develop/src/solve_snow.c#L495-L507):

[code]

[2014-11-23 16:04] jhamman opened #167 "Is snow_melt.c handeling 'RefreezeEnergy' correctly?"
In [these lines in `snow_melt.c`](https://github.com/UW-Hydro/VIC/blob/develop/src/snow_melt.c#L468-L481):

[code]

Does anyone think this is true or is this just an old comment?

[2014-11-23 18:31] jhamman opened #168 "function 'update_thermal_nodes' is never used"
@tbohn, the function [`update_thermal_nodes()`](https://github.com/UW-Hydro/VIC/blob/f4111980a483a83985ff4966fddcf382734a51d8/src/initialize_model_state.c#L659-L888) in `initialize_model_state.c` is never used.  Is this something that we should keep around in the model?

[2014-11-23 18:35] #168 closed, assigned to nobody

[2014-11-25 18:30] #163 closed, assigned to jhamman

[2014-12-04 18:41] #160 closed, assigned to jhamman

[2014-12-08 00:52] #64 closed, assigned to tbohn

[2014-12-08 01:04] #48 closed, assigned to bartnijssen

[2014-12-08 01:10] #7 closed, assigned to bartnijssen

[2014-12-08 01:12] #162 closed, assigned to jhamman

[2014-12-12 21:38] jhamman opened #176 "Make VIC code citable?"
How do we want the VIC model to be cited?

Is citing the [*Primary Historical Reference*: Liang et al. (1994)](http://www.hydro.washington.edu/Lettenmaier/Models/VIC/Documentation/References.shtml#VIC) sufficient?  Obviously, there have been many changes to the VIC model since 1994.

I've recently run across Github's page on [Making your code citable](https://guides.github.com/activities/citable-c

[2014-12-13 01:22] jhamman opened #177 "Image Mode Testing Checklist"
This is a checklist of items to work through when testing the image mode driver:
- [x] Use of `enum` definition of output variables, specifically ensure that N_OUTVAR_TYPES is the correct size (#175)
- [x] Image mode driver reproduces classic driver output (#576).
- [x] MPI test: single processor and multiple processor produces same output. (#567)
- [x] Exact restarts in image and classic drivers

[2014-12-13 02:41] #36 closed, assigned to nobody

[2014-12-14 16:45] #65 closed, assigned to tbohn

[2014-12-17 02:59] pengbinpeluo opened #178 "A bug report on bare soil albedo specification in the newly released 4.2.0"
The newly released VIC 4.2.0 would output a negative biased surface albedo when bare soil type exists(total vegetation cover fraction < 100%) in the model cell. There probably is a bug on the albedo specification for different land cover types in the subroutine full_energy.c. If BARE_SOIL_ALBEDO is not prescribed in the following format, another column for bare soil albedo in the forcing file can

[2014-12-17 18:12] jhamman opened #179 "Write CF conventions compliant netCDFs."
I'm proposing that we follow the standard [NetCDF CF Metadata Conventions](http://cfconventions.org/) for all input and output datasets in VIC.  The implications of following these conventions are:
- netCDF variables would be named according to the [CF Standard Name Table](http://cfconventions.org/standard-names.html).  Variables internal to VIC would remain the same.
- variable attributes and **u

[2014-12-21 00:19] #112 closed, assigned to nobody

[2014-12-22 05:56] #178 closed, assigned to jhamman

[2014-12-22 21:44] #23 closed, assigned to jhamman

[2015-01-05 18:34] jhamman opened #185 "Add multilayer snowpack"
Kostas Andreadis (@andrkns) wrote a paper a few years back assessing the performance of a multilayer snowpack in VIC.  That work is described in this paper: http://dx.doi.org/10.1175/JHM-D-11-056.1, however, the code changes never made it into the production version of VIC.  There has been some recent discussion via person communication, spurred on by some recent work by Rinke et al. (in review),

[2015-01-10 05:04] jhamman opened #187 "Parallel netCDF I/O"
I found my notes on the comment/question I was going to ask a few weeks back on #23.  I'm going to put them here so I don't loose them again and we can close the issue if we decide not to use parallel netCDF I/O.

Parallel access to netCDF file routines are available from two sources:

### netCDF4

netCDF4 is is supported in C, C++, Fortran, Python, Java, etc.  Parallel I/O support is likely limit

[2015-01-12 21:40] jhamman opened #189 "Validate Model Parameters Defined at Runtime"
I recently added an option input file that allows the user to redefine a selection of model parameters at runtime.  Previously, these parameters were defined as global constants and were defined at the time of compilation.  Now that these parameters are exposed to the user, we need to add some logic to ensure that they remain within reasonable bounds.   This logic will go in [`get_parameters()`](h

[2015-01-12 23:33] bartnijssen commented on #189
This is great - having all these hardcoded parameters is one thing that Martyn Clark has been criticizing in a lot of models, so making them accessible in a configuration file is really the way to go. That said, I think we should keep the checking to a minimum, not because we should not do any checking, but because it adds a lot of logic to VIC that needs to be duplicated in all the drivers. It ma

[2015-01-13 01:32] pengbinpeluo opened #191 "Will VIC 5.0 support parallel computation？"
I am just wondering whether VIC 5.0 will support some parallel computation options or not...many thanks!

[2015-01-13 02:12] bartnijssen commented on #191
Yes - the idea is that there will be different drivers, which will support parallelization in different ways:

* classic - same as now in which time is the most rapidly varying dimension (time before space). Just like the current mode, this means that you can easily implement parallelization by running different grid cells on different nodes or processors. That is already supported, but must be im

[2015-01-13 02:15] jhamman commented on #191
Yes.  This work is currently underway.  Would you be interested in contributing to the development or testing the beta version of VIC.5.

We will only be adding MPI to the image mode driver (time on the outer loop, space on the inner loop).

[2015-01-13 03:11] pengbinpeluo commented on #191
Thank you, Bart and Joe for this introduction. If possible, I hope I can make some contribution to VIC 5. Actually some months ago, I once changed the VIC 4.2 from "time before space" to "space before time" mode and add NetCDF forcing, soil parameter file and output options. However, these are conducted only for some personal jobs.

[2015-01-13 03:12] bartnijssen commented on #191
Excellent - image mode also does all I/O in NetCDF. If you'd be wiling to help with some testing that would be great!

[2015-01-13 06:45] jhamman commented on #189
That's basically what I was thinking too.  I'll put a PR together and we can go from there.

[2015-01-13 07:28] jhamman commented on #80
How do we want to determine what tools are useful?  I have not used anything in the tools directory but I'm sure some users have.  One option would be to ask the vic_users email list.  Maybe @tbohn knows more about what tools are still useful and which are out of date.

[2015-01-13 17:00] tbohn commented on #80
I will take a look in there today and see if I can shed some light on it...

On Tue, Jan 13, 2015 at 12:28 AM, Joe Hamman <notifications@github.com>
wrote:

[2015-01-13 17:37] bartnijssen commented on #80
I don't really want to delete tools just because we don't use them, on the other hand I don't want to have just a random collection of non-usable tools. One option is to split it into a legacy and active directory, with the first containing the 'random' collection and the other the active set of maintained tools.

If there is a way to point to other repos as well that would be good. For example Jo

[2015-01-13 20:49] jhamman opened #193 "standardize printf format specifiers"
The C standard are a bit ambiguous about how to specify integer and floating point types in `printf()` strings.  All floating point variables are promoted to `double` and all integer variables (regardless of sign or length) are promoted to int.  Therefore, `printf` accepts the promoted format of `%f` and `%d` or the original type format (e.g. `%lf`, `%hu`, etc.).

@bartnijssen has proposed (in #18

[2015-01-13 21:01] jhamman opened #194 "explicitly state full integer types."
@bartnijssen has suggested (in #188) that we be explicitly state the full datatype when typecasting or declaring integer variables.  For example:
[code]
would become:
[code]

This table outlines the synonymous datatypes in C: http://en.wikipedia.org/wiki/C_data_types#Basic_types

@bartnijssen, would you suggest that we use the most explicit form?  (`int` -> `singed int`, `unsigned` -> `unsigned in

[2015-01-13 21:36] bartnijssen commented on #194
The latter - just to remain consistent with the rest of VIC. I have never seen anyone actually use `signed`, but not including `int` after `unsigned` is potentially confusing within the context of VIC.

Note that the goal is not simply to adhere to the most recent version of the C standard. Code in general is much easier to read and maintain if it is self-consistent. For SUMMA we actually came up

[2015-01-15 22:51] mrstu opened #195 "statefile checkpointing"
When a VIC simulation is interrupted, an option to checkpoint based on the statefile would be helpful.  That is to say, if I resubmit the interrupted simulation, instead of re-running the first active cell in the soil file (and all others that ran successfully), the model would first check the output statefile to see which cell was last completed.  Then, rather than starting at the first active ce

[2015-01-16 00:39] jhamman commented on #195
Thanks @mrstu.  This is definitely a feature we want to add to all the drivers, including the RASM driver.

I'll give an example of how this sort of thing is done in CESM and we can discuss if that would meet your desired functionality as well as the rest of VIC development.  This will be pretty long but I think it will help how it could be done.

1.  First, each run is configured with `REST_OPTIO

[2015-01-16 01:03] bartnijssen commented on #195
This functionality would depend a bit on the driver. As described here, the functionality is specific to the classic mode, since in that case the state file for a given date gets written incrementally (as each grid cell reaches that date - and then runs past it. It makes sense not to rerun the model for cells that have completed.

This will be somewhat different in all the image modes, in which al

[2015-01-16 01:18] mrstu commented on #195
@jhamman, this is definitely not critical for my current project (using
VIC.4) but I hit the corner case and thought it would be a nice feature to
consider.

@bartnijssen, yes, definitely a "classic" enhancement.

Thanks guys.  Very interesting context.

On Thu, Jan 15, 2015 at 5:03 PM, Bart Nijssen <notifications@github.com>
wrote:

[2015-01-16 06:25] jhamman opened #196 "CESM Driver Todo List"
This will be a running to do list as we work on coupling VIC.5 in CESM.  @bartnijssen, @apcraig, and @mabrunke - feel free to make additions or comments to this list.

#### Infrastructure to Port from VIC-RASM.1.0
- [ ] Monthly averaging: `wrf_write_data.c`, if only in concept (#198, #281)

#### Science/Physics Options and Features to Port from VIC-RASM.1.0
- [ ] Vegetation dependent snow albedo (

[2015-01-16 06:40] jhamman commented on #195
For the classic driver, you may be able to find a way to save how many grid cells have been finished and then restart where you left off.  So rather than have an `rpointer` file that has a path, it would have a grid cell index.  You would just need to make sure the statefile was properly closed or flushed to after each grid cell completes.

That said, once we have the image driver running with mpi

[2015-01-18 01:10] jhamman opened #197 "Image Mode Driver: Time Handling"
Time handling in the image mode driver currently requires that the forcing file begins at the same time as the simulation.  Furthermore, the history files from the image driver do not have a time variable.

I propose using the recent time/calendar improvements in #188 to better handle the time variable in this driver.

[2015-01-18 01:11] jhamman opened #198 "Image Mode Driver: History Module"
This issue proposes adding a history module to the image mode driver to handle outputs at different timesteps than the model runs at.  The proposed functionality comes in part from various CESM model components and builds on the existing infrastructure in VIC.

#### Proposed Functionality
- **Multiple history file output streams.**  This would feature allow for outputting data at different tempora

[2015-01-20 06:24] jhamman opened #199 "Where should we put submodules and submodels"
Currently we have a directory structure that looks like this:
[code]
A few projects that are currently underway will be linking / coupling other models to VIC.  The question is **where do we want to put these models?**

While we're thinking about this, I recommend we take think about where we'll put some other

I'll propose this structure, which is widely used in Python and C open source projects:

[2015-01-20 17:10] bartnijssen commented on #199
@jhamman: Do these submodels (I'd prefer a different name, but can't come up with anything right now) share code with VIC or not?

[2015-01-20 18:36] jhamman commented on #199
@bartnijssen:
- I don't care for the name `submodels` much either.  I'm keen on changing it.
- Presumably there would be a few functions from each submodel that VIC would use but that is probably it.  I think CN is a good example.  We certainly don't want to drop the full CN code into VIC run but we need it in the repo and a few functions from CN will be called by VIC.

As I've thought about it mo

[2015-01-20 19:23] bartnijssen commented on #199
What about "addons"

[2015-01-20 20:04] jhamman commented on #199
"addons" could work.  Other ideas:
- "plugins"
- "extensions"

[2015-01-20 21:42] bartnijssen commented on #199
extensions is nice - I'd go with that (plug-in may be promising too much).

Bart

[2015-01-21 02:35] #191 closed

[2015-01-21 16:42] jhamman commented on #42
closed via #188.

[2015-01-21 16:42] #42 closed

[2015-01-21 16:43] jhamman commented on #70
closed via #188.

[2015-01-21 16:43] #70 closed

[2015-01-22 01:52] jhamman commented on #189
closed via #192.

[2015-01-22 16:58] jhamman opened #201 "Model Crashes When OUTPUT_FORCE=TRUE"
When using `OUTPUT_FORCE = TRUE`, the model crashes with a `segmentation fault: bad access`.

Looking into this a bit deeper, this problem is coming in two locations where access to the `veg_con` structure, isn't protected by a `if (!options.OUTPUT_FORCE) {}` block.  This occurs in two blocks of the `initialize_atmos()` code:

1.  [Assign N_ELEM for veg-dependent forcings](https://github.com/UW-Hy

[2015-01-22 17:41] bartnijssen commented on #201
@jhamman  - I am confused about the tag naming. I though bug fixes were identified by letters (`4.2.a`, `4.2.b`) rather than numbers. I already didn't understand `4.2.1`, but am concerned that this will cause confusion for the `4.X` series. Even if going forward it'll be `<major release>.<minor release>.<bug fix>` then that would be easier from `5.0` going forward (i.e. `5.0.1` is a bug fix for `5

[2015-01-22 17:56] jhamman commented on #201
@bartnijssen - We stopped using the alphabetic bugfix identifier when we went to `4.2.0`.  That discussion was in issue #49.  When the issues was close, I specifically addressed the convention that was used for the `4.2.1` release.

[2015-01-22 18:00] bartnijssen commented on #201
I know we had that discussion. After seeing it in practice, I really don't like it because it is misleading within the 4.X universe. For this reason I am making the decision to change it and adopt it from 5.X on instead.

[2015-01-22 18:03] bartnijssen commented on #49
For 4.X releases we will stick with the convention that bug fixes are identified with lowercase, which means that tag `4.2.1` will be renamed `4.2.a` and the next bug release will be `4.2.b`.

From 5.X on we will use the convention specified above:

`<major release>.<minor release>.<bug fix release>`

all in numbers from [0, inf>.

[2015-01-22 18:08] bartnijssen commented on #193
Closed per #200

[2015-01-22 18:08] #193 closed

[2015-01-22 18:09] bartnijssen commented on #194
Closed per #200

[2015-01-22 18:09] #194 closed

[2015-01-22 18:12] jhamman commented on #49
The only tag in the 4.X track to use the alphabetic bug fix was `4.1.2`.  Looking at the list of past VIC [tags](https://github.com/UW-Hydro/VIC/tags), the third digit has never been alphabetic.  If you want to be consistent with `4.1.2.<>`, we would need to continue with the 4 digit tag name that was used for that track only, e.g `4.2.0.a`.  To me, that does not seem necessary, and I would prefer

[2015-01-22 18:16] bartnijssen commented on #49
4.1.2 was the release immediately predating 4.2 and uses a letter to designate a bug release. We will stick with that for 4.2

Bug release 1: 4.2.a
Bug release 2: 4.2.b

Since there will be no further releases there is no need at all for a .0. in between (there will never be a 4.2.1, which is the whole point here). It is again misleading to put one there.

It has been a bit of a hodgepodge up to t

[2015-01-22 18:17] #49 closed

[2015-01-22 18:19] bartnijssen opened #203 "retag 4.2.1 to 4.2.a"
Hot fix naming for 4.2 will be

4.2.a
4.2.b
etc. As for release 4.1.2, the letter designates it as a hotfix.

From 5.X on, the releases will be

`<major release>.<minor release>.<bug fix>`

as per issue #49

[2015-01-22 18:32] jhamman commented on #203
closed.  see tags [`4.2`](https://github.com/UW-Hydro/VIC/releases/tag/VIC.4.2) and [`4.2.a`](https://github.com/UW-Hydro/VIC/releases/tag/VIC.4.2.a).  `4.2.b` will be released tomorrow.

[2015-01-22 18:32] #203 closed

[2015-01-22 19:00] #201 closed

[2015-01-22 21:54] jhamman opened #204 "Cleanup input and output file headers"
I propose we define a simple standard header for all input and output files.  If included now, the output file header looks like this:
[code]
My preference would be that all input and output (including cases when `OUTPUT_FORCE=TRUE`) files be required to use the same header format.  All files would include a single row header without `#`, including the date/time values (see related #18):
[code]

[2015-01-22 22:01] jhamman opened #205 "Add simulation identifier to output files."
We've all found ourselves wondering what the difference is between `data_48.1875_-120.6875` and `data_48.1875_-120.6875`.  I propose adding a simulation identifier to the global parameter file so that these files would look more like `sim1_data_48.1875_-120.6875` and `sim2_data_48.1875_-120.6875`.

This may seem like a small detail but the classic driver has few other mechanisms to add meaningful

[2015-01-22 22:04] tbohn commented on #204
I advocate for keeping the initial #, since that is a common method of
denoting a comment line...  But yes, if the data fields would always be
present, then the startdate and dt records would not be necessary.  The
ALMA_OUTPUT flag tells us what the unit convention is, but it would be
better to put the units in the column headers themselves (since the ALMA
convention is not widely known, and the n

[2015-01-22 22:05] tbohn commented on #205
You can specify the prefix of the output files in the global parameter
file.  That's what the functionality is there for...

On Thu, Jan 22, 2015 at 2:01 PM, Joe Hamman <notifications@github.com>
wrote:

[2015-01-22 22:32] jhamman commented on #205
If only it were used that way...

[2015-01-22 23:05] bartnijssen commented on #204
I suggest we keep the free-form comment lines on the top. While we cannot enforce metadata in these files (at least not without a lot of extra work), I don't want to prevent people from including or adding their own commentary to the file. Stripping all content that starts with a `#` is easy enough to implement and maintain,

We may also want to consider including a model version in one of those c

[2015-01-22 23:07] bartnijssen commented on #204
Wait - I think I just misread the proposal.

If the proposal is:
   * zero or more free-form header lines started with `#` (with some of the content as specified)
   * one header line with the field names

then I would say I'd agree. Sorry for the confusion, read this one a bit too quickly

[2015-01-22 23:10] bartnijssen commented on #205
Isn't it? I think I have used this in the past. I'd rather leave it up to the user and may be just point out that this functionality exists. I can imagine cases where having the same name is actually an advantage (overwrite files) and the flexibility already exists to do this.

To me this is a workflow issue on the part of the user, not something we need to mandate on the programming side. Maybe w

[2015-01-23 01:59] jhamman commented on #204
I originally proposed the extreme of removing everything except the variable names, figuring we would have a discussion on what makes sense.  I'd support @bartnijssen's summary.  A possible output format may look like this:
[code]
Forcing files may also include free form header lines but would be required to include a minimum of one line without a `#` including the field names.
[code]

[2015-01-23 02:23] tbohn commented on #204
Why would the field names line not start with a "#", if the header does
start with "#"?

Is it simply that the "#" creates an extra field?  We could get around that
by not putting a space between the # and the first field name...

On Thu, Jan 22, 2015 at 5:59 PM, Joe Hamman <notifications@github.com>
wrote:

[2015-01-23 02:27] bartnijssen commented on #204
Because the field name header would not be free form and is not a comment. For example, many scripting packages (R, python) have analysis modules (pandas, etc) that can read data files with comments and a header. It strips the comments and actually uses the header names to parse a file. These header names can then be used directly to address the relevant columns (dataframes in both R and pandas).

[2015-04-06 23:08] bartnijssen commented on #176
I registered with Zenodo (the entity issuing the doi) and linked the VIC repo. A DOI will be generated automatically when a new VIC release is created. I have not found a way through Zenodo to create a DOI for an existing release.

[2015-04-10 14:37] jhamman opened #208 "Reworking the VIC users group"
A quick summary for context for where we are right now:

- [`vic_users@u.washington.edu`](https://mailman13.u.washington.edu/mailman/listinfo/vic_users) is the VIC users group mailing list
- It is moderated by @tbohn, @bartnijssen, and myself (@jhamman) here at the University of Washington
- Post routinely bounce because users are not registered correctly with the UW system
- Querying the archive

[2015-04-10 14:45] jhamman commented on #176
This is great.  I did a bit of reading on this and we will need to upload previously released versions we want DOIs for manually on Zenodo.  Sounds like a fun task.

[2015-04-10 15:04] #189 closed

[2015-04-10 16:42] bartnijssen commented on #208
My preference for now would be the status quo. There is not really enough activity at the moment that motivates me to change this. Maybe traffic is low because it is clunky, but so be it. 90% of the questions are answered in the VIC documentation already.

My least preferred option is github, which I want to reserve for discussion about code and don't want to clutter with questions on where to fin

[2015-04-10 16:44] bartnijssen commented on #176
OK - I'll check into that. I can at least upload the most recent releases and then the main release for the previous versions: 4.0.6 - 4.1.1

[2015-04-10 17:03] tbohn commented on #208
I'm OK with whatever option you end up choosing.  I guess the bouncing
emails are a problem that needs to be solved - we'd need something that is
easy for non-members to either join or post to without being a member.

Ted

On Fri, Apr 10, 2015 at 9:42 AM, Bart Nijssen <notifications@github.com>
wrote:

[2015-04-17 17:17] orianac opened #209 "Lack of helpful error message when crashing due to global file OUTVAR option error"
VIC4.2.b crashed when using a faulty global file, but exited with a vague memory error instead of a helpful error message.

The problematic part of my global file looked like this:

[code]
(The 4 should have been a 7. Upon fixing the numeric typo the model ran successfully to completion.)

The model did not crash but rather hang in limbo after it read the soil file. The error I got was this:
[code

[2015-04-17 18:07] jhamman commented on #209
Thanks @orianac.  Indeed, the error given is not helpful in this situation.  We should either:
a) calculate the number of output variables on-the-fly, eliminating the need for the `4` in your example, or
b) enforce that they match.

It seems easier to enforce that they match (in terms of writing the code).  However, I think it is better form to reduced the redundant information of the number of va

[2015-04-23 19:42] bartnijssen commented on #209
Agreed on reducing the redundant info if we can make that happen easily. It should be labeled as a bug as well, since you should not be able to make the model crash by just mis-specifying a number in the input. I'll assign it to me to come up with a hotfix for 4.2.

[2015-05-06 01:24] jhamman opened #211 "Specify netCDF variable names in global config file"
In the current image mode driver, we have hard coded the variable names for forcing variables, domain variables, and parameter variables.  This includes netCDF dimension names.  As I have just moved to a new test case, I've had to modify these hard coded variable names, for example:
[code]

Would it make sense to add these field names to the global parameter file?  This is probably most important

[2015-05-06 16:57] bartnijssen commented on #211
They should all be configurable (including dimension names). That is, they should be read from a config file as a dictionary.

[2015-05-07 21:17] bartnijssen opened #214 "VIC web site email address"
VIC web site still contains an email address to hydro.washington.edu

For example: vicadmin@hydro.washington.edu on http://www.hydro.washington.edu/Lettenmaier/Models/VIC/

To do: grep through the VIC web site and replace all  @hydro.washington.edu with other emails.

vicadmin@hydro.washington.edu ==> remove and replace with link to VIC github repo

[2015-05-07 21:24] bartnijssen commented on #214
Moved to VIC website repo

[2015-05-07 21:24] #214 closed

[2015-05-07 21:31] bartnijssen commented on #134
There are still some unused variables in develop:vic_run/src/CalcBlowingSnow.c
[code]
I can delete them, but just want to make sure first that they were not kept for a reason.

[2015-05-07 22:10] jhamman commented on #134
I seem to remember there being a reason that I left some of those around.  I think it had to do with the solvers used in `CalcBlowingSnow.c`.  Just be careful to track any function pointers or variable argument lists carefully.  If it can be done cleanly, by all means, let's get rid of them.

[2015-05-07 23:41] bartnijssen commented on #134
OK - I seem to remember the same - so I will leave it alone for now. When I have time I may go through and document within CalcBlowingSnow why these vars cannot be deleted.

[2015-05-07 23:41] #134 closed

[2015-05-19 15:49] jhamman opened #218 "Set logging level"
The current logging system only allows for the silencing of the `debug` log level by setting the `NDEBUG` variable. A useful extension of this would be to replace `NDEBUG` with `LOG_LVL` and to extend the logic in `vic_log.h` to allow for silencing the `log_info` and `log_warn` log levels as well.

[2015-07-23 17:54] jhamman commented on #199
Does anyone have any problems with making this directory rearrangement change now.  We're about to head into an active phase of coding and I think it would be nice to get this done ahead of time?

cc: @bartnijssen @tbohn

[2015-07-23 18:12] jhamman commented on #79
I'm getting close to being done with this work for this issue. How do we feel about putting these datasets in new github repo (https://github.com/UW-Hydro/VIC_test_data)? Total size of the datasets is about 1GB and I'd like to use [git-lfs](https://git-lfs.github.com/) to store the data on github.

I currently have four datasets formatted into netCDF4 ready for the test module:
- Stehekin sample d

[2015-07-23 18:15] jhamman opened #226 "Add VIC Best Practices to documentation"
As suggested by @bartnijssen in #205: We should add a "Add VIC Best Practices" page to the new website.

A list of things to cover:
- [x] How to add informative metadata to your output files

[2015-07-23 18:16] jhamman commented on #205
closing in lieu of #226.

[2015-07-23 18:16] #205 closed

[2015-07-23 18:18] jhamman commented on #208
Closing.  Will include a note about gitter in VIC 5 release email.

[2015-07-23 18:18] #208 closed

[2015-07-23 18:30] tbohn commented on #79
Sounds good to me.

On Thu, Jul 23, 2015 at 11:12 AM, Joe Hamman <notifications@github.com>
wrote:

[2015-07-23 18:59] bartnijssen commented on #79
Same here - `git-lfs` may also be a good place for the SUMMA test data. I wasn't aware that they already started this (I know it was in the works)

[2015-07-23 19:03] bartnijssen commented on #199
Please go ahead

[2015-07-24 23:46] jhamman commented on #176
I recently asked Zenodo if there was any way to automate the upload process for previous releases and this was their answer:

[2015-07-27 18:12] jhamman opened #230 "Why are we passing global_param into vic_run?"
`global_param` is an `extern` but is also passed as an argument. @bartnijssen - was this intentional?

see this line: https://github.com/UW-Hydro/VIC/blob/develop/vic/drivers/image/src/vic_image_run.c#L54

[2015-07-27 18:22] bartnijssen commented on #230
The link does not work. I get a 404 error

[2015-07-27 18:29] bartnijssen commented on #230
I don't quite understand the questions. When I look at `vic_run()`, then `global_param_struct *gp,` is passed `extern parameters_struct param;` is `extern`. This was mostly to stay consistent with VIC classic.

[2015-07-27 20:20] jhamman commented on #230
Yes, I think our question was why pass the structure if it is a global. If I remember right, we are choosing not to use `global_param` as a global in `vic_run`?

cc: @wietsefranssen

[2015-07-27 20:38] bartnijssen commented on #230
Right - we were trying to limit the number of globals (defined as extern) in `vic_run` to truly separate the driver from the physics. I left

[code]

since that was easiest and none of the variables in these structures are location-dependent (i.e. same for entire domain). We could also pass these as function arguments, but they are used in a large number of the `vic_run()` functions and it would b

[2015-07-28 14:48] jhamman commented on #33
I think we can either close this issue or move it to [5.1](https://github.com/UW-Hydro/VIC/milestones/5.1). This is a change to a process representation of the classic driver so I don't think it belongs in the 5.0 release.

I do think it is a good point and one we should incorporate into future versions of MTCLIM.  Maybe, we support VIC input forcings by elevation band?

[2015-07-28 14:52] jhamman commented on #199
closed via #228.

[2015-07-28 14:52] #199 closed

[2015-07-28 14:53] jhamman commented on #20
This is mostly done and will only be applied to the image driver for now.

This can be closed after we sort out #211.

[2015-07-28 20:12] jhamman commented on #179
cc @wietsefranssen

[2015-07-28 20:21] jhamman commented on #197
cc @wietsefranssen

[2015-07-28 20:25] jhamman commented on #211
cc @wietsefranssen

[2015-07-29 14:49] jhamman commented on #230
Okay.  Thanks for the refresher.  I'm going to close this.  If @wietsefranssen has any additional questions, we can reopen the issue.

[2015-07-29 14:49] #230 closed

[2015-07-29 16:06] wietsefranssen commented on #230
Hi, I don't have additional questions, Its also all clear for me now.

[2015-07-31 17:03] jhamman opened #233 "Clean up VIC website for VIC 5.0 Release"
The VIC website has grown to include lots more info than the core VIC documentation.  This proposal aims clean up many of the documentation sections to improve readability and maintainability.

This is the current VIC documentation directory structure in #229.  Check-boxes in this list denote pages we want to consolidate or get rid of all together.  All my thoughts on this issue are focused on VIC

[2015-07-31 17:14] jhamman commented on #218
@bartnijssen - are we okay with this being a compile time option? I'm not sure if it is possible to override the compile time macros at runtime.

[2015-07-31 20:19] bartnijssen commented on #218
I'd be OK with that

[2015-08-01 00:27] #218 closed

[2015-08-01 00:48] jhamman commented on #31
@bartnijssen and @tbohn - is something that we think is going to happen for 5.0? It has been idle for 8 months or so now?

[2015-08-01 01:02] bartnijssen commented on #31
@jhamman : I am going to move this to "sometime". Any change in the iteration sequence is likely to change the answer, something that we don't want as part of 5.0. I'll leave it to @tbohn to take a look and see what change he thinks would be worthwhile for a later milestone

[2015-08-01 07:45] jhamman commented on #80
So this long list is everything in the `VIC/tools/` directory.  Surely, we don't need to keep all these in the repo.  Let's check those we can get rid of:

- [ ] ├── ./basin_delineation
- [ ] │   └── ./basin_delineation/basin_prep
- [ ] │       ├── ./basin_delineation/basin_prep/README.txt
- [ ] │       ├── ./basin_delineation/basin_prep/multiply_basin_param.c
- [ ] │       ├── ./basin_delineation

[2015-08-04 21:18] jhamman opened #236 "fix internal page hyperlinks in docs"
`mkdocs` does internal page hyperlinks a bit different that the html-to-markdown converter does.  This has resulted in a bunch of broken hyperlinks in the new docs.

An example: http://vic.readthedocs.org/en/latest/Documentation/Calibration/#RoutCal

[2015-08-06 04:24] jhamman opened #240 "Overhaul the subdaily disaggregation logic in initialize_atmos.c"
When we changed the default timestep units to seconds (#188), we introduced a number of bugs into the subdail disaggregation of forcing variables in `initialize_atmos.c`. Looking at the code, there is a lot of repeated logic that could be abstracted to individual functions.  This will greatly reduce the likelihood of bugs coming from slightly different implementations with the same goal.

I'll tak

[2015-08-06 19:32] bartnijssen commented on #240
Can you point to some examples? The MTCLIM was wrapped with as few changes to that code as possible and I would like to keep it that way. Any VIC code we can of course change.

[2015-08-06 19:38] tbohn commented on #240
I think Joe is referring to the logic in initialize_atmos.c for
transferring data from the MTCLIM data structures and the forcing data
structures into the atmos data structure.

Ted

On Thu, Aug 6, 2015 at 12:32 PM, Bart Nijssen <notifications@github.com>
wrote:

[2015-08-07 04:35] jhamman opened #243 "Bug in unused function."
I'm writing unit tests using the python driver and I've found this puzzler. First, my test was failing because the function always returns a value of 1.0. Second, in looking into this a bit deeper, I don't think this function is ever used in `vic_run` or any of the drivers.

So the question is, should we be using the function somewhere or should I remove it?

[code]

ref: https://github.com/UW-Hyd

[2015-08-07 04:36] jhamman commented on #243
Also, `exp_interp` in the same source file is not used anywhere in VIC right now.

[2015-08-07 14:25] bartnijssen commented on #243
Fine with me. @tbohn : Can you comment?

[2015-08-07 15:01] bartnijssen commented on #243
BTW - note that `linear_interp()` in that file is used in a number of places, so we would need to retain that one.

[2015-08-08 04:29] #243 closed

[2015-08-11 17:40] bartnijssen opened #246 "Continuous Integration badges do not track the right branch"
I think that the Travis build badge on the master branch tracks the status on the development branch:

[`https://raw.githubusercontent.com/UW-Hydro/VIC/master/readme.md`](https://raw.githubusercontent.com/UW-Hydro/VIC/master/readme.md)

`[![Build Status](https://travis-ci.org/UW-Hydro/VIC.png?branch=develop)](https://travis-ci.org/UW-Hydro/VIC)`

This seems to be generally true for the badges. I w

[2015-08-11 17:56] bartnijssen opened #247 "Cast the result of malloc()"
Apparently, casting the result of `malloc()` is not the preferred way to go. See for example:
http://stackoverflow.com/questions/605845/do-i-cast-the-result-of-malloc

The same is true for `calloc()`

We have cast religiously in VIC. With the release of VIC 5 we may as well conform to convention since the code is being reformatted anyway.

My preferred format in that case would be

[code]
 * This

[2015-08-11 18:02] tbohn commented on #247
It's nice to see a solution to that problem!

On Tue, Aug 11, 2015 at 10:56 AM, Bart Nijssen <notifications@github.com>
wrote:

[2015-08-11 18:44] #246 closed

[2015-08-11 23:19] jhamman commented on #80
@bartnijssen -

@tbohn and I just discussed this and basically came to the conclusion that basically everything here can go.  There are a few exceptions but for the most part, these "tools" are way out of date and will not be particularly useful moving forward.  They will remain in the repo's history if we ever want to come back to them.

This issue will be resolved via two commits:

1. removal of

[2015-08-11 23:23] bartnijssen commented on #80
Agreed

[2015-08-12 05:57] bartnijssen commented on #80
Closed per PR #250

[2015-08-12 05:57] #80 closed

[2015-08-12 21:45] #155 closed

[2015-08-12 21:45] #176 closed

[2015-08-12 21:45] #236 closed

[2015-08-12 22:56] jhamman opened #255 "Update description of required soil parameters"
Transferred from https://github.com/UW-Hydro/VIC_website/issues/16

I think a couple things should happen:

1. Change the wording to say that "variables in red only need to have meaningful values if FULL_ENERGY is TRUE, otherwise they will be ignored (but a placeholder value of -9999 must still be present in that field unless the documentation explicitly says the field is optional)".  I think ther

[2015-08-15 18:49] jhamman opened #261 "error handling should be done at the driver level"
Back in #64, we discussed using the `goto` error handling method.  We decided not to go that direction to ovoid the temptation to recover from errors. I still do not think we should recover from errors.

The macro for our current logging function is here:
[code]

As you can see, we call `exit(1)` anytime an `log_err` is called.  I'm proposing that error handling and any exit calls should be done b

[2015-08-16 01:26] bartnijssen commented on #261
In principle I am OK with that as long as we a) there is no attempt to recover - we'd still exit in the driver; and b) there is not a huge error handling code base that will be added.

Can you give an example of how you would intend to handle this? Instead of `exit(1)` would you intend to return? Keep in mind that you may need to return a few levels in the stack before you reach the driver.

[2015-08-16 03:28] jhamman commented on #261
I'd be open for suggestions on the best way to do this.  I think inside of `vic_run` we would define `goto` statements in each function.  My first take looks something like this:

[code]
Then in `solve_snow` where `calc_rainonly` is called:
[code]

Then, coming out of `vic_run`, each driver deals with `vic_error` in its own way. For the standalone drivers, we would just call `exit(vic_error)`.  Fo

[2015-08-16 03:33] bartnijssen commented on #261
I don't like it, because you'd need to add this after every vic function call in vic_run, which is exactly what I am trying to avoid. It does add a huge amount of 'dumb code' simply to fail gracefully. I am not convinced that it is worth it, definitely not at this time. This is not in the critical path for VIC 5.0, so I am moving it to a later milestone.

[2015-08-16 03:46] jhamman commented on #261
okay, fair enough.  As I wrote out the example, I began to dislike that solution.  There may be other ways to do this so I'll keep my eyes out.

[2015-08-25 18:33] jhamman commented on #196
This table outlines the variables that are should not be set by VIC's global parameter file in the CESM driver and details where those variables will be set.  Variables labeled with *n/a* are not to be used by this driver.

| Variables Removed From Global Parameter File | Where set in CESM driver       | Notes                                                                            |
|----------

[2015-08-27 21:13] jhamman commented on #196
This line change needs to be added to

[code]

[2015-08-31 23:14] jhamman opened #266 "remove rec from vic_run api"
The current `vic_run` api looks like this:

[code]

The `rec` argument represents the current timestep and I'd like to argue it doesn't need to be passed into `vic_run`.  It ends up being passed throughout many `vic_run` functions but is only used twice:

[code]
In both cases, `rec` is used as a flag for initialization.  My argument is that in both of these cases, the code should be refactored.

I

[2015-08-31 23:19] jhamman commented on #266
I should add that keeping the `vic_run` api as clean as possible will make (is making) adding new drivers much easier.

[2015-08-31 23:26] bartnijssen commented on #266
Isn't it used in the `veg_hist` part of the code. If I remember correctly, this was one of the reasons why I asked @tbohn to refactor this.

I completely agree otherwise.

[2015-08-31 23:35] jhamman commented on #266
I thought so too but [this](https://github.com/UW-Hydro/VIC/blob/develop/vic/vic_run/src/vic_run.c#L277-L279) is the typicall usage of `rec` and `dmy` in `vic_run`.

[code]

So by only passing in a single `dmy`, you can get rid of `rec` all together:
[code]

[2015-08-31 23:50] bartnijssen commented on #266
I think I already changed this at the time (originally `veg_hist` was passed in entirely). The next refactor is not to pass in `veg_hist` at all since the vegetation structures can be updated upstream of `vic_run`.

Please proceed as you suggest.

[2015-08-31 23:51] jhamman commented on #266
Okay, a PR is forthcoming.

[2015-09-08 23:42] tbohn opened #275 "Move veg_hist logic outside of vic_run()"
Time-varying veg parameters such as LAI, vegcover, and albedo should all be passed to vic_run() via a single data structure, containing only the elements of these arrays that apply to the current time step.  The logic to choose the source of these parameter values (from veg_lib, veg_parameter file, or veg_hist file) should happen outside of vic_run().  vic_run() should not need to know anything ab

[2015-09-08 23:44] tbohn opened #276 "Make PET play nice with the rest of the code"
Currently, vic computes the 6 types of potential evapotranspiration (PET) by creating dummy veg tiles.  These dummy tiles cause code maintenance headaches and should be removed.  PET needs to be computed in a much less invasive manner.

[2015-09-09 00:18] jhamman commented on #266
closed via #267.

[2015-09-09 00:18] #266 closed

[2015-09-09 18:00] jhamman opened #277 "remove log_ncerr logging macro"
It turns out, we don't need the `log_ncerr` macro, the `log_ncerr` does the same thing:

`log_ncerr(status);` just prints the error string associated with status, e.g.

`[ERROR] /p/home/jhamman/rasm_vic5/models/lnd/vic/vic/drivers/cesm/src/get_nc_field.c:49: errno: No such file or directory`

it would be better to use

`log_err("%s", "a useful message");` to print out a bit more information.  `log

[2015-09-09 19:48] jhamman opened #278 "bare soil handling in vic_init"
There are some a few problems with [this](https://github.com/UW-Hydro/VIC/blob/develop/vic/drivers/image/src/vic_init.c#L1050-L1067) section of code in `vic_start`.

[code]
The issues that I see are:

1.  Cv_sum does not include the fraction of the grid cell that is bare soil, so if any bare soil exists, we try to rescale, even though the comment above indicates that we should raise an error.
2.

[2015-09-10 02:49] jhamman opened #281 "Refactoring put_data"
`put_data.c` is in need of a refactor.  The refactor is needed for the following reasons:

1. Currently, `out_data`, `save_data`, and a few other counters are initialized by calling `put_data()` with the `rec = -nrecs`. We end up going through a lot of computations that are never used and we expose a bunch of opportunities to use uninitialized values.  Today, I was running into a case with a divid

[2015-09-10 15:20] jhamman commented on #281
I should add, the user interface to the end goal (beyond this first issue) here may look something like this:

[code]

A summary of the configuration parameters is below:

| Parameter       | Type (values)                                     | Description                                                           | Note             |
|-----------------|----------------------------------------------

[2015-09-11 22:47] jhamman opened #283 "global_param.measure_h is never used"
A grep survey of the `vic_run` and the image and classic drivers shows that the `measure_h` member of the `global_param_struct` is never used.

The VIC [docs](http://vic.readthedocs.org/en/latest/Documentation/GlobalParam/) indicate that `measure_h` is supposed to represent the "Height of humidity measurement".

Since it is not being used, should it be removed?

[2015-09-13 01:32] jhamman commented on #276
I've thought about this and I think there are probably things we can do here:

1.  Remove the PET calculation all together.  Yes this is a backward incompatable change but we can do that for VIC 5.  Calculating the PET as a post (or pre) process of VIC is probably 20 lines of Python code.  Since the value will never be used in the VIC model evolution, this seems to be the cleanest way to go.
2.  C

[2015-09-14 16:17] tbohn opened #286 "Move VIC ATBD away from top of references section"
The VIC algorithm theoretical basis document (ATBD) has never been published.  Yet it has been cited over 30 times in the literature as a "reference" for the VIC model.  Its position at the top of the references page, above Liang et al (1994), may be the reason for this.  When I inserted a reference to the VIC ATBD, we were under the impression that the ATBD was soon to be published, and we though

[2015-09-15 03:32] jhamman commented on #286
I'd support your plan @tbohn . Issue any PRs against the develop branch.

[2015-09-15 16:36] bartnijssen commented on #286
Agreed - we should just make the VIC ATBD downloadable from docs and refer to it from the VIC documentation, but remove it from the formal references (or move it down). It should definitely not be listed as the primary reference. We should also make it explicit in the README that Liang et al. 1994 is the primary reference.

[2015-09-15 16:54] tbohn commented on #276
To address ambiguity and generality, I propose to reduce the number of PET types to just what's currently called "PET_NATVEG", which is the type that people most commonly think of when looking at PET.  Several other models (NOAH off the top of my head) that I'm familiar with also provide this type of PET as an output variable so I don't think this would be unreasonable or unusual to include.  I ad

[2015-09-15 17:04] bartnijssen commented on #278
Yes - that is probably correct, although you should check whether that is true in image mode. We should carefully check the handling of the bare soil portion. The logic for this is rather confusing (this was in VIC from the beginning and way back this was partly to preserve memory).

It would be much easier if we treated bare soil just like any other type, but that may require more changes then we

[2015-09-15 17:07] bartnijssen commented on #277
Closed per #279

[2015-09-15 17:07] #277 closed

[2015-09-15 17:27] bartnijssen commented on #281
I am very much in favor of this. I'll have to read the proposal itself in somewhat more detail. I would also suggested that we call out the initialization step separately rather than passing a negative number of nrecs.

[2015-09-15 17:33] bartnijssen commented on #276
As long as it plays nice with others (especially no memory impact or requirements if the feature is not used) ...

[2015-09-15 17:35] bartnijssen commented on #283
This was to allow for differences in height between the wind measurement and the temperature / humidity measurements. Not sure where / when this distinction was removed (or maybe it was never implemented?). I think we may want to keep this distinction, but if it truly is never used there may be no need for these.

@tbohn: Please comment

[2015-09-15 17:50] tbohn commented on #283
Unfortunately I don't recall at this point.

On Tue, Sep 15, 2015 at 10:35 AM, Bart Nijssen <notifications@github.com>
wrote:

[2015-09-15 17:55] bartnijssen commented on #283
@jhamman : is there an easy way to search the revision history for `measure_h`?

[2015-09-15 18:15] jhamman commented on #283
It seems to me this was added in [this](https://github.com/UW-Hydro/VIC/blame/9a6d8f323823d9df0b16717029779a81be9b67c1/src/vicNl_def.h#L901) back in 2000.  Even in that commit, the value was not used.

[2015-09-15 18:17] tbohn commented on #276
I'm thinking of addressing optional allocation this way: pot_evap will continue be part of the cell_data structure.  It will change from an array of fixed length to a *double.  If OUT_PET is selected for output, *pot_evap will be allocated to a single element of type double.  Else *pot_evap will not be allocated.

How does that sound?

[2015-09-15 18:27] bartnijssen commented on #283
OK - in that case I am fine with removing it. I'll accept the PR

[2015-09-16 04:13] tbohn commented on #240
OK, as per @jhamman 's suggestion, I'll take a look at getting this subroutinized.

[2015-09-16 17:50] jhamman commented on #240
Alright, I think I've fixed some of these issues shown below but will have to rerun this test when I get back to Seattle.  A summary of what where I see the subdaily disaggregation (check these boxes when we are satisfied that things are working):

- [ ] Precipitation: looks right, need to plot subdaily subset
- [ ] Air Temp: looks right, need to plot subdaily subset
- [ ] Shortwave: Units problem

[2015-09-16 18:00] tbohn commented on #240
Thanks @jhamman.  Are you actively working on this?  What kind of timeframe did you have in mind for this?  I can get to this tomorrow, maybe even later today, but I do have some other things to work on that need to be my top priority today.

[2015-09-16 18:00] jhamman commented on #240
Actually, I also have this plot for a shorter period:

![stehekin_forcings2](https://cloud.githubusercontent.com/assets/2443309/9913506/fcc0d072-5c61-11e5-97e0-bdd275423426.png)
*Figure: Same data as above but for shorter time period and only showing VIC 4.2.b (left) and develop branch (right).*

[2015-09-16 18:47] jhamman commented on #240
@tbohn  -

After talking with @bartnijssen, we have come up with another path forward here. The basic idea is to remove the `MTCLIM` and subdaily disaggregation entirely from the Classic Driver.

1. Remove `MTCLIM`
2. Replace `initialize_atmos` with `vic_force`, basically a function to pack the `atmos_struct`
3. Create a standalone forcing generator tool based on `initialize_atmos` that uses the V

[2015-09-16 18:52] tbohn commented on #240
That makes more sense to me.  Will the stand-alone tool be based on your python tool?  Or will it be in c?

Seems to me that the stand-alone tool will need netcdf i/o (in addition to classic ascii), so maybe python is the way to go?

[2015-09-16 19:13] bartnijssen commented on #240
I think we should do the standalone tool in two steps:

1. The existing VIC code with all (most) VIC functionality stripped out. This tool would be able to reproduce exactly the hourly VIC forcings that we had in VIC 4.2. That way we are not making too many changes at once.

2. Switch to a python-based forcing tool, which may or may not have additional functionality.

Creating (1) would hopefully

[2015-09-23 23:01] tbohn opened #293 "Possibly unused carbon parameters"
Determine which carbon parameters (Catm, fdir, coszen, par) need to be supplied as inputs.  Remove those that are unnecessary.

[2015-09-23 23:10] tbohn opened #294 "Replace array of forcing files with explicit veg_hist, channel_in files"
Currently VIC allows specification of optional FORCING2 files, which can contain any number of input variables, with potentially different time step, start date, etc from FORCING1 files.

Would it be worthwhile to replace FORCING1 and FORCING2 with FORCING, VEG_HIST, and CHANNEL_IN files?  This would entail splitting up the functions and data structures that currently store multiple instances of F

[2015-09-25 01:47] tbohn commented on #293
All of these variables are used:
Catm is used in canopy_assimilation() to compute photosynthesis.
Fdir is used in faparl() to compute the fraction of absorbed PAR, which is used in canopy_assimilation().
PAR is used in canopy_assimilation().
coszen is used in both faparl() and compute_Nscale_factors().

I propose moving the estimation of some of these carbon-specific input variables to the python

[2015-09-25 16:05] tbohn commented on #293
I propose that we remove coszen from the atmos structure and only compute as needed within the carbon code.

For the other 3 variables, I propose keeping them in the atmos structure for now.  However, if we would like to reduce memory usage, and decide to only allocate them if carbon is TRUE, I think that to accomplish that we would need to split the carbon variables out into a separate structure

[2015-09-25 16:08] tbohn commented on #294
Another file could be added to the set of separate forcing files, for carbon variables.  This could be coupled with splitting carbon variables out of the atmos struct into their own struct, that would be only be allocated if carbon is true.

[2015-09-25 16:31] jhamman commented on #293
@tbohn -

I'm fine with this plan.  It seems easy enough not to allocate memory for carbon only variables.

[2015-09-25 16:41] tbohn commented on #293
OK, so does that mean I *should* make allocation of the pointers for carbon variables conditional?  I can do that for channel_in as well.

I will make this happen identically in all drivers.

[2015-09-25 16:51] jhamman commented on #293
Yes, why don't you just add that to your `remove_mtclim` branch.

[2015-09-25 16:52] tbohn commented on #293
OK, will do.

[2015-09-25 18:36] tbohn commented on #293
One more issue to resolve: whether to leave assignment of default values of these variables in vic_force() or to move them into the python tool.

For classic mode, I see no problem with moving these estimates to the python tool, and requiring that they be supplied as inputs to VIC.  But for image mode, should we require these variables to be supplied as inputs (if carbon is turned on)?

If VIC is

[2015-09-25 18:46] jhamman commented on #293
Yes, since they are forcing variables, I think we should remove default assignments. I think we want to get out of the business of creating forcing variables in VIC.

[2015-09-25 18:49] tbohn commented on #293
OK, will do.  So, I'll just make Catm, PAR, and Fdir all required input variables when carbon is true, in all drivers.

[2015-09-29 09:26] wietsefranssen commented on #24
Joe, can you provide me an example setup of a real basin (also with a routing param file)? Or give me some scripts (and howto) to make it myself? Then we can test the routing module and compare it with measured data to get an idea of the order of magnitude of the discharge.

[2015-09-29 15:24] jhamman commented on #24
I'm not entirely sure what you are asking for.  Are you looking for an additional VIC or RVIC setup?  I can certainly help you put those together but I don't have anything prepared off hand.

[2015-09-30 16:39] wietsefranssen opened #297 "Add a time variable in NetCDF output file"

[2015-10-09 16:42] jhamman opened #298 "BUG: Output timestamp is 24 hours off at midnight"
I'm in the process of working through a list of comparisons between VIC 4.2 and the current VIC 5 develop branch. There will probably be more bug reports like this one.

Below, I'm showing the tabular output from a simulation where the midnight timestamp is for the previous day.

<table>  <thead>    <tr style="text-align: right;">      <th></th>      <th>AIR_TEMP</th>    </tr>  </thead>  <tbody>

[2015-10-10 10:26] Sibada commented on #298
来自 魅族 MX4 Pro

-------- 原始邮件 --------
发件人：Joe Hamman <notifications@github.com>
时间：周六 10月10日 00:42
收件人：UW-Hydro/VIC <VIC@noreply.github.com>
主题：[VIC] BUG: Output timestamp is 24 hours off at midnight (#298)

[2015-10-13 00:52] #298 closed

[2015-10-15 05:18] jhamman opened #300 "Add support branch for 4.2.1 Irrigation code"
@bartnijssen  has asked that we add a support branch for @hydrotian's VIC 4.2.1 Irrigation work (https://github.com/hydrotian/VIC_4.2.1_irrigation).  We have a few questions to answer before we can create the branch.

1. The irrigation code is not on a branch that came from the main git repository (only 2 commits in history). So, do we want to maintain the history or should I just copy the code ov

[2015-10-15 05:29] hydrotian commented on #300
For question 2. My impression is that the original root of this repository was VIC 4.2. Ted Bohn and Ingjerd Haddeland incorporated the irrigation scheme into the model and named it 4.2.1.

[2015-10-15 05:45] tbohn commented on #300
All I know about this is that I sent my private code (based on 4.2) to
Ingjerd, who might have used some portion of my irrigation code in her
version (but I would not blame her if she didn't use my irrigation code -
it was pretty messy).  But presumably the branch point would be 4.2.

Ted

On Wed, Oct 14, 2015 at 10:29 PM, Tian Zhou <notifications@github.com>
wrote:

[2015-10-15 06:02] jhamman commented on #300
Okay, but the directory and file structure in https://github.com/hydrotian/VIC_4.2.1_irrigation looks nothing like 4.2 so I'm not sure how to proceed.

[2015-10-15 13:23] wietsefranssen commented on #297
Together with the time variable we also want to include the lat and lon variables in the NetCDF output.
We want to do this as much ad possible following the cf-conventions.

We prefer have one dimensional lat/lon variables like the standard way:
see chapter 5.1: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.6/build/cf-conventions.html#coordinate-system
however chapter 5.2 is also p

[2015-10-15 13:37] jhamman commented on #297
Yes, we want to be able to include the x (lon) and y (lat) coordinates in the output file.  We do however, need to be able to support 1 and 2 dimensional coordinates.  So the answer I think is both.

[2015-10-15 13:47] wietsefranssen commented on #297
the standard one dimensional way is:
        double lon(lon) ;
                lon:long_name = "longitude" ;
                lon:units = "degrees_east" ;
                lon:standard_name = "longitude" ;
        double lat(lat) ;
                lat:long_name = "latitude" ;
                lat:units = "degrees_north" ;
                lat:standard_name = "latitude" ;

the 2-dim ways is:
float xc(x

[2015-10-15 13:56] wietsefranssen commented on #297
An other thing (FYI): we need the lat lons of the full domain (no NANs because of the mask).
Thats why I includes the following lines in get_global_domain.c

    // if MASTER_PROC
    global_domain->locations_grid = (location_grid_struct *)
                               malloc(global_domain->n_ny * global_domain->n_nx *
                                      sizeof(location_grid_struct));
    if (

[2015-10-15 14:00] jhamman commented on #297
I think it is fine to have the user choose the type of grid they are using.

I'm not sure I'm following your last comment...?

[2015-10-15 14:14] wietsefranssen commented on #297
Okay we let the user decide (any suggestion about there to add a flag (global config file/a header file?)?

[2015-10-15 14:18] wietsefranssen commented on #297
in  get_global_domain.c VIC reads the lats and lons from the domain file (currently Stehekin_image_test.domain.nc). it stores only the lats and lons of the cells which are runned by vic (in this case 16 lat/lons). We need all lat/lons (x*y=20).

This is why I store all the lat/lons in an extra struct (location_grid_struct).

[2015-10-15 14:39] jhamman commented on #297
Global configuration file.  We want to add the following options (names were chosen off the top of my head and @bartnijssen may suggest something different):

[code]

[2015-10-15 14:42] wietsefranssen commented on #297
perfect,
I will add the first (maybe also the rest) of the variables in de global config file.

[2015-10-15 15:21] bartnijssen commented on #300
@Tbohn: Was there a specific reason to send your private version of the code? We are using git to establish a trail for source code modifications. It's an important step in ensuring reproducibility and thus a part of the scientific process. Sending people your private version of the code subverts this and is something I frankly find extremely frustrating.

@hydrotian and @tbohn : Please sort out b

[2015-10-15 15:24] bartnijssen commented on #300
@hydrotian: This is not optional. This code needs to be as a support branch on our github repo since it has been used as part of a paper. In the future I will no longer allow people in my group to submit a manuscript unless their code is under version control on our github site.

[2015-10-15 15:39] bartnijssen commented on #300
@hydrotian: I just looked at your repo. The readme and the way you just plopped this into github as a "first commit" are wholly inadequate. Please take this serious, this is not a joke.

[2015-10-15 15:55] tbohn commented on #300
I think I should clarify: I only gave my code to Ingjerd to show her what
I'd done, in case she wanted to use anything I'd written.  I was not part
of Ingjerd and Tian's project and I was not directly involved in their code
development.  It's their business how they present their code for inclusion
in the repo.

Ted

On Thu, Oct 15, 2015 at 8:39 AM, Bart Nijssen <notifications@github.com>
wrote:

[2015-10-15 16:50] bartnijssen commented on #300
@tbohn: Did you point her to your github repo or did you email her a tar file of code (or point her to your directory on disk)?

@hydrotian: Please figure out with Ingjerd where your code comes from. This needs to happen ***now*** as we may need to correct the proofs of the paper with regards to the model version.

[2015-10-15 16:58] tbohn commented on #300
I created my private code outside of git.  I believe I sent her a tar file.

Now that I know better, I will use git for these purposes in the future.
Sorry if this has caused any problems.

Ted

On Thu, Oct 15, 2015 at 9:50 AM, Bart Nijssen <notifications@github.com>
wrote:

[2015-10-15 17:00] bartnijssen commented on #300
So please provide Tian with the provenance of your code: At what point did you split off from what version?

[2015-10-15 17:19] tbohn commented on #300
Hi all,

The code I handed to Ingjerd and Tian was based on 4.1.2.k.  However, this
code included the veg_hist code that I later ported to 4.2.  So, it is
somewhat intermediate between 4.1.2.k and 4.2.

I apologize for any confusion this might have caused.  From now on, I will
use GIT to develop and share code.

Regards,
Ted

On Thu, Oct 15, 2015 at 10:01 AM, Bart Nijssen <notifications@github.com

[2015-10-15 18:07] hydrotian commented on #300
@bartnijssen @tbohn I apologize for this chaotic situation I created here. First of all, The VIC irrigation model used for the JHM paper was based on VIC 4.0.6, developed by Ingjerd about 10 years ago and it has been added to our VIC repo as a supporting branch about 2 years ago (https://github.com/UW-Hydro/VIC/tree/support/VIC.4.0.6.irrigation). Second, for the ISI-MIP project, Ingjerd modified T

[2015-10-15 18:31] tbohn commented on #300
If it's helpful to piecing this together, as I worked on my private code, I
ported fixes from 4.1.2 and 4.2 into my private code until I froze my code
and ported veg_hist into 4.2.  So, I think you'll find that the diff
between the source code of Ingjerd/Tian's code and the 4.2/src directory is
not super big - should primarily consist of the irrigation stuff plus
possibly a few of the later fixes

[2015-10-15 18:59] bartnijssen commented on #300
@hydrotian : What dis we say was the VIC version in the JHM manuscript? Did we make is clear that that was 4.0.6. That would alleviate my immediate concern.

[2015-10-15 19:48] jhamman commented on #300
@hydrotian - Since there is not really any history in your git repository, I recommend updating the `src/` directory in the `support/VIC.4.2.a.irrigation` branch that I just created and opening a pull request from your fork.

Please do not include any temporary files (e.g. `#get_global_param.c#`) or Make file objects (e.g. `.depend`).

Also in that PR, we should have:
- a thorough commit message d

[2015-10-17 21:52] bartnijssen commented on #297
@wietsefranssen : Why do you need the lat - lots for the whole domain (including the grid cells for which VIC is not run)? To define the output grid?

[2015-10-19 08:04] wietsefranssen commented on #297
1: For the standard software we use to analyse VIC results we need all lat/lons of the gridcells.

2: In case you use 1D lat/lon variables (regulair grid) it is also needed to get the starting and ending positions of the lat/lons. In case many gridcells are masked out, this information is not always available.

[2015-10-24 21:58] bartnijssen commented on #300
@hydrotian : Please keep moving this forward, so we can close this asap.

[2015-11-13 00:18] tbohn opened #305 "Fix OUTPUT_FORCE option in VIC 4.2"
The OUTPUT_FORCE option is broken in VIC 4.2 as a result of the new veg_hist code in initialize_atmos().  The new code in initialize_atmos() associated with the veg_hist feature assumes that the veg library and veg_parameter files have been read, and associated data structures populated.  But this is not the case for the OUTPUT_FORCE option.  This discrepancy needs to be resolved.

[2015-11-13 15:37] tbohn commented on #305
Question: would it be acceptable to fix this issue by having VIC read the veg library and veg parameter file when running OUTPUT_FORCE?  This would mean that users who are currently running OUTPUT_FORCE without supplying a veg library or veg param file would now have to supply them.  But seems like most people who would be running VIC in OUTPUT_FORCE mode would have those files available for their

[2015-11-13 21:23] tbohn opened #306 "Veg_hist code in 4.2 lacks an update"
I have discovered that my original implementation of the veg_hist feature in release 4.2 was missing a modification I subsequently made in my private version but forgot to add to GIT.  This modification results in minor changes to soil evaporation magnitudes but is necessary to make 4.2 match the results and description in my manuscript.  Changes are confined to two files: arno_evap.c and func_sur

[2015-11-14 05:29] bartnijssen commented on #305
Requiring people to read info that is never used points to persistent design problems with the implementation of the `veg_hist` option. Given that the use of `veg_hist` is optional, there are way too many required changes for users that are not using this option (i.e. most of them). I much prefer the second option, which while more work for you, would appear to decrease the amount of work for almo

[2015-11-14 17:15] tbohn commented on #305
Thank you for giving me an argument that you're amenable to - I'll use it then :-)  I would lean towards option (b), which would affect the fewest users - only those who use VIC as a forcing disaggregator without ever intending to create/obtain veg lib/param files.  Do you have a preference between option (a) or (b)?

I apologize for the design flaw.  It was something that I didn't foresee.  It wa

[2015-11-14 18:04] tbohn commented on #305
Looking at the docs, I see that I should also update the "VIC Disagg" page.  Not that it's technically incorrect - it doesn't explicitly say that users can leave the veg lib/param file information blank - but doesn't say what these should be set to, and if they're required we should mention their required values in this list.  Also, I see a couple of typos that need fixing.

[2015-11-14 18:13] tbohn commented on #305
It just occurred to me, I could insert a few "if" statements that check whether LAI, albedo, or vegcover have been supplied as forcings.  If not, and OUTPUT_FORCE is true, then VIC could skip reading the veg lib/param files as before.  If we tell the users to *not* mix LAI, albedo, and vegcover with the other met variables, i.e. segregate them into separate files (which is probably what they'd be

[2015-11-14 18:17] bartnijssen commented on #305
I think it would be fine to go for option b) and leave VIC itself alone ;)

[2015-11-14 18:18] bartnijssen commented on #305
It just underscores that we (in general) have to think a bit more strategically when adding options and features. That does not just apply to you, but to all of us involved with VIC development. "Making it work" is only part of the story.

[2015-11-14 18:20] tbohn commented on #305
True.  Seen this happen numerous times - a few of them my fault!

[2015-11-15 02:00] tbohn commented on #306
The code changes for this are ready on my own branch off master, and I can make a pull request, but I don't know which official branch to make the pull request to.

[2015-11-16 17:09] #283 closed

[2015-11-16 17:35] jhamman commented on #306
I think 4.2.c is fine.  I can backport to 5.  Make a PR against master.

[2015-11-17 16:47] tbohn opened #308 "Water balance error in lake model"
The lake model in release 4.2 is exhibiting water balance errors.  Currently investigating to find the source of the problem.

So far, I have found at least one part of the problem: the variable out_prec, used only for reporting precipitation for output, was not being updated correctly in full_energy.c.  This only affects the water balance check in put_data.c (as well as making the output precipit

[2015-11-17 22:13] tbohn commented on #308
As it turns out, the OUT_PREC bug is the only code bug.  The other issue was caused by a bad parameter value, for which I have added some extra validation in read_lakeparam.c.

[2015-11-19 14:20] wietsefranssen opened #311 "Buffer overflow when using optimization flags"
When you compile VIC with optimization enabled (`CFFLAG -O1` or higher) in stead of `-O0`, VIC will not run.
It throws the following messae after the vic-info text:
```*** buffer overflow detected ***```

note: I only tested this in VIC_image mode.

[2015-11-19 15:06] wietsefranssen opened #312 "date2num gives wrong results when using other values than DAYS for OUT_TIME_UNITS"
`date2num` gives wrong results when using other values than `DAYS` for `OUT_TIME_UNITS`.

for example when I use the `date2num` with a `dmy` date of 01-01-1981 I get the following results
[code]

Probably the following function or function call in `vic_time.c` should be adapted:
[code]

Note: function used:
[code]

[2015-11-19 16:32] jhamman commented on #311
Can you post the compiler and platform specifications that reproduce this behavior?

[2015-11-19 16:33] wietsefranssen commented on #311
[code]

[2015-11-19 16:35] wietsefranssen commented on #311
`CFLAGS  =  ${INCLUDES} -ggdb -O0 -Wall -Wextra -std=c99 -DLOG_LVL=$(LOG_LVL)
`

[2015-11-19 16:57] jhamman opened #313 "Add all grid cells to global domain structure"
@wietsefranssen and I have been discussing how to get all the domain information into the output files.  It seems like it will be best to store all grid cells (active and not) in the global domain and then, during the domain decomposition, only store the active grid cells. An `run` member will be added to the domain structure.

[2015-12-01 00:11] jhamman opened #318 "Travis Build is broken for image driver on OSX"
https://travis-ci.org/UW-Hydro/VIC/jobs/94061210

This just started happening and it doesn't seem to be related to any change we made. It seems it has to do with the `homebrew` install of `openmpi`.

[2015-12-01 00:37] jhamman commented on #311
@wietsefranssen - I'm having trouble reproducing this error.  I'm wondering if you can take a first swing at this and get back to me with any ideas of what/where the bug is.  Thanks.

[2015-12-04 22:29] tbohn opened #319 "VIC overwrites veg_lib values of LAI, albedo, and vegcover with those of the current cell"
The function read_vegparam() overwrites the values of LAI, albedo, and vegcover in the veg_lib structure with those from the veg_param file for the current cell, if they are listed there and if LAI_SRC, ALB_SRC, or VEGCOVER_SRC are set to FROM_VEGPARAM.

In olden times this was not a problem - the veg_lib structure's function was re-purposed to contain climatological values of LAI and albedo for t

[2015-12-04 22:53] tbohn commented on #319
Am I correct in assuming you'd prefer that I create my branch off of the official master, and that I should not include the contents of my other 2 (pending) pull requests?

Also, are my 2 pending pull requests waiting on me for anything?  Are they essentially approved or is there some chance you will want me to change something?

[2015-12-05 15:58] jhamman commented on #319
branch off master and issue against 4.2.c.

@bartnijssen and I will take another pass through your other prs asap.

[2015-12-05 16:01] jhamman commented on #319
@tbohn - responding to this issue.  I think we want to ovoid any time information inside `vic_run`.  In my opinion, the solution here needs to fill a single set of scalar veg params that go into `vic_run`.  However the driver decides to do that is up to the individual driver.

[2015-12-05 16:39] tbohn commented on #319
This is just a fix to 4.2... I can find a different fix for 5.0...
On Dec 5, 2015 8:01 AM, "Joe Hamman" <notifications@github.com> wrote:

[2015-12-08 12:26] wietsefranssen commented on #311
After a little investigation....
It goes wrong at:
https://github.com/UW-Hydro/VIC/blob/b20d6db73a982915263fd8491eaef8b0dd083852/vic/drivers/shared/src/output_list_utils.c#L207-L209
`OUT_MELT_ENERGY_BAND` goes over the limit of 20 (see https://github.com/UW-Hydro/VIC/blob/b20d6db73a982915263fd8491eaef8b0dd083852/vic/drivers/shared/include/vic_driver_shared.h#L404-L406)
Changing `char varname[20];`

[2015-12-08 12:49] wietsefranssen commented on #311
btw. I created a pull request with this little fix (#320). Just let me know if I am creating a bit too often pull requests now.

[2015-12-08 17:56] jhamman commented on #311
small PRs are good.  Thanks for looking into this and for the fix.

[2015-12-08 17:56] #311 closed

[2015-12-08 18:09] tbohn commented on #308
@jhamman this issue can be closed since you've merged pull request #316

[2015-12-08 18:10] #308 closed

[2015-12-08 18:34] tbohn commented on #319
@jhamman - did you see my response to your comment?  Are we on the same page, that this is 4.2 and thus pre- veg_hist overhaul?  The overhaul I will do of veg_hist in 5.0 will obliterate any of the changes I make to 4.2.  I'm just trying to get 4.2 to work correctly.

[2015-12-09 00:11] jhamman commented on #319
Okay @tbohn - I'm tracking with you.  I'll review #321 now.

[2015-12-09 16:47] #319 closed

[2015-12-09 17:10] #306 closed

[2015-12-10 19:30] jhamman commented on #305
closed via #307

[2015-12-10 19:30] #305 closed

[2015-12-14 16:06] #312 closed

[2015-12-15 18:39] #286 closed

[2015-12-21 19:13] tbohn opened #325 "Enable reading of veg_hist from netcdf files"
Need to add this capability to the image driver.  @bartnijssen and @jhamman I might want to discuss the structure of these files with you before I get started.

I suppose that the netcdf file would require a uniform number of "levels" in the veg class dimension across all grid cells.  Veg classes that aren't present would just have a missing/fill value.  Any other ideas?

It might also be worth re

[2015-12-24 07:27] jhamman commented on #300
closed via #301

[2015-12-24 07:27] #300 closed

[2015-12-24 07:29] jhamman commented on #247
closed via #257

[2015-12-24 07:29] #247 closed

[2015-12-24 07:32] jhamman commented on #240
closed as wont fix since we removed sub-daily dis-aggregation all together in #288.

[2015-12-24 07:32] #240 closed

[2015-12-28 00:05] tbohn commented on #275
Since reading vegcover from the parameter file in image mode isn't implemented, probably should include implementing it in this issue.

[2015-12-28 00:07] tbohn opened #326 "Implement reading of lake parameters in 5.0 image mode"
Currently `vic_init()` contains just a placeholder for reading lake parameters.

[2015-12-28 00:07] tbohn opened #327 "Implement reading of blowing snow parameters in 5.0 image mode"
Currently vic_init() just contains a placeholder for reading blowing snow parameters.

[2015-12-29 01:43] tbohn opened #328 "Need documentation (release 4.2) describing veg_hist inputs"
Need to add documentation (to release 4.2) for veg_hist inputs, similar to meteorological input files but optional.  Also need to make it clear that if these are used, their values will be taken instead of those from the veg_lib or veg_param files.

[2015-12-29 01:43] tbohn opened #329 "Need documentation (release 5.0) describing veg_hist inputs"
Need to add documentation (to release 5.0) for veg_hist inputs, similar to meteorological input files but optional.  Also need to make it clear that if these are used, their values will be taken instead of those from the veg_lib or veg_param files.

[2015-12-29 07:01] jhamman commented on #328
Agreed.  This will need to go directly onto master for the docs and a PR is welcomed.

[2015-12-29 07:02] jhamman commented on #329
Agreed, please include in https://github.com/jhamman/VIC/pull/8.

[2016-01-03 23:29] tbohn commented on #276
Regarding the calculation of pot_evap: I'm assuming we'll want to use the penman-monteith equation with canopy resistance computed using:
* rs = rsmin (rather than 0)
* LAI = current LAI
* all other resistance factors = 1.0.
Any objections?

[2016-01-04 04:59] tbohn commented on #276
This may be a separate issue, but looking through the code, I see that for canopy evap, vic uses a canopy resistance (rc) value of 0; while for transpiration, vic uses a canopy resistance value of rc = ( rsmin / LAI )  (which is then adjusted for limitations of vpd, soil moisture, temperature and radiation).

I think this might explain why actual ET sometimes goes higher than PET, since PET has al

[2016-01-04 05:33] tbohn commented on #276
Question: to be consistent with the possibility of partial veg cover fraction < 1.0, should I implement PET as a weighted average of vegcover * (PET from veg) + (1-vegcover) * (PET from soil) ?

If so, then I might want to move the PET calculation to be right next to the transpiration and soil evap calculations in func_surf_energy_bal() to take advantage of the logic doing the weighted averaging.

[2016-01-04 05:41] tbohn commented on #276
On second thought, that would be computationally expensive as the potential evap calculation would then be executed during every step of the surface balance iteration.  I'll keep the PET calculation where it is.

[2016-01-04 18:26] tbohn opened #332 "vic executable usage message refers to compile-time settings in vicNl_def.h"
I think the compile-time settings are gone, right?  If so, the entire -o option can go away.  Otherwise, if we want to keep this option, the message just needs to be changed to refer to the correct .h file.

[2016-01-04 19:01] jhamman commented on #332
They are not all gone.  When I call the `-o` option, I don't see any reference to `vicNl_def.h`.

[code]

[2016-01-04 19:03] tbohn commented on #332
I'm talking about the usage message.  When you type vic_classic.exe without arguments:
Usage: vic_classic.exe [-v | -o | -g <global_parameter_file>]
  v: display version information
  o: display compile-time options settings (set in vicNl_def.h)
  g: read model parameters from <global_parameter_file>.
       <global_parameter_file> is a file that contains all needed model
       parameters as well

[2016-01-04 19:07] jhamman commented on #332
Oh, I see.  Yes we should just change "set in vicNl_def.h" to "set in .h files".

Also, do you know that you can add triple ticks (\`\`\`) to your markdown code so you get syntax highlighting?  It makes these Github posts alot easier to read.  I fixed your last post.

[2016-01-04 19:12] tbohn commented on #332
OK, thanks - still learning markdown!  I just copied/pasted that blob into the window.

Meanwhile, I asked whether compile-time options are gone because the values of MAX_* don't really seem like "options" in the sense that they used to be.  Previously, entire modes of operation that changed model physics were set by these "#define" statements, and there wasn't an easy way for a user to know how t

[2016-01-04 19:16] jhamman commented on #332
Yeah, no problem.  I think we leave it for now since it isn't breaking anything.  With the addition of extension modules (e.g. routing), which will be added to the executable at run time, we'll want to add those to this info too.

I'll fix the header file line in a PR here shortly.

[2016-01-05 01:04] tbohn opened #334 "Memory leak due to double-allocation of some input vars in 5.0"
In alloc_atmos.c, carbon and lake input vars are double-allocated (two sets of calls to calloc).  This causes a memory leak.  Removing the extra allocations fixes the memory leak.

I have a fix prepared for this; will issue a pull request shortly.

[2016-01-05 01:14] tbohn commented on #334
Actually, the pull request will wait on the sync/4.2.c pull request...

[2016-01-05 06:45] tbohn opened #335 "Water balance errors in 5.0 classic"
I'm getting large cumulative water balance errors in 5.0 classic, in the development branch pre-sync/4.2.c.  I haven't finished investigating - there could be erroneous settings in my global parameter file.

Some important details: I'm using a veg_library file that contains vegcover values.  The veg_parameter file also contains LAI, vegcover, and albedo climatologies for each grid cell.  I am not

[2016-01-05 06:45] tbohn commented on #335
cc-ing @jhamman and @bartnijssen

[2016-01-05 06:46] tbohn commented on #334
cc-ing @jhamman and @bartnijssen

[2016-01-07 16:44] tbohn opened #336 "global.param.sample out of sync with code in 5.0"
global.param.sample has the following inconsistencies with the code:

1. `missing an entry for RUNOFF_STEPS_PER_DAY`
2. `contains unrecognized STARTHOUR option`
3. `contains unrecognized FORCEHOUR option`
4. `contains unrecognized MEASURE_H option`

[2016-01-07 20:12] tbohn opened #337 "Unable to *not* supply vegcover values in both veg_lib and veg_param simultaneously"
Not sure whether this is intentional or a bug.

At present, in VIC 5.0, we can't supply VIC with both veg_lib and veg_param files that don't contain vegcover values.  This is because the global option VEGCOVER_SRC can only be set to one of: FROM_VEGLIB or FROM_VEGPARAM.  If it's set to FROM_VEGLIB but the veg_lib file doesn't contain vegcover values (and VEGLIB_VEGCOVER accurately reflects this by

[2016-01-08 00:44] jhamman commented on #334
sounds good @tbohn

[2016-01-08 00:44] jhamman commented on #336
Yes, we need to overhaul the example global parameter file.

[2016-01-08 01:05] jhamman commented on #335
@tbohn - I think I've seen this before, when debugging a few other issues.  I thought I had already raised an issue here but I can't find it now (so I probably didn't).  I never ran it down far enough to give much indication of what is going wrong.  Let us know if you find anything.

[2016-01-09 03:47] tbohn commented on #335
OK, preliminary diagnosis is good: using a quick and dirty perl script to compute wb errors from the output files (I'm out of town right now and logging in via a telnet session) yields nearly 0 cumulative error for both VIC 4.2 and VIC 5.0 (3 different branches).  So it appears that the errors are simply the result of a bug in calc_water_balance_error() or put_data() rather than actual errors in f

[2016-01-11 19:03] jhamman commented on #335
I bet the bug is in `put_data`, nothing really has changed in `calc_water_balance_error`.  There were some units changes in `put_data` so that could be it.

[2016-01-12 22:30] tbohn commented on #335
After more testing, I realize that my earlier crude water balance check ran on the wrong files.  Re-running shows that, in fact, 5.0 does have water balance errors.  The errors are always equal to -evap.  Comparing results with those of 4.2, it appears that in 5.0, evap is not being subtracted from soil moisture.

Again, this is true of the develop branch pre-sync/4.2.c as well as post-sync/4.2.c.

[2016-01-12 22:40] bartnijssen commented on #335
That seems odd, since we did not mess with the physics. Is this a bug fix that was made in 4.2 that has not made it into 5/develop yet?

[2016-01-12 23:01] tbohn commented on #335
No, there were no such water balance errors in 4.2 that needed any fixing...  Joe mentioned that he had seen water balance errors in 5.0 before but hadn't tracked them down.

Perhaps once I find the bug it will be clearer how it might have gotten into the code.

[2016-01-12 23:06] tbohn commented on #335
Another weird thing I noticed: 5.0's max soil moisture storage comes out a little different than that of 4.2, for the same input parameters...  differing by 1-2 mm.  Not sure it's related to the water balance errors though.  I might need to open a new issue for this.

[2016-01-14 17:52] tbohn commented on #335
@jhamman and @bartnijssen I believe I've found the cause of the errors.  In runoff.c, the old code was dividing the estimated evap by dt (which was in units of hours) in order to get evap per hour (= evap per runoff time step, as runoff calculation was at a time step of 1 hour).  The new version of runoff.c still divides evap by dt, but now dt is in units of seconds, reducing by a factor of 1/3600

[2016-01-14 18:25] tbohn commented on #335
That fixed the majority of the errors.  But now there are much smaller errors that occur only when precip > 0.  So, there is a second issue somewhere.

[2016-01-14 18:57] tbohn commented on #335
...and this second bug was the same issue that I described with evap, but for dt_inflow.  Now all errors appear to be eliminated.

[2016-01-14 19:26] jhamman commented on #335
:+1: :tada:

Thanks for sorting this out @tbohn.

[2016-01-14 19:29] tbohn commented on #335
Well, there's still some suspicious behavior that I'm looking into.  5.0 is computing slightly larger max moisture storage for the soil layers than 4.2 does - presumably these should be exactly the same given the same soil textures and thicknesses.  And 5.0's ET and Ra are different from 4.2, more than can be accounted for by the difference in max soil moisture storage.  So there may be a couple m

[2016-01-14 19:33] jhamman commented on #335
@tbohn -

I have a branch that may fix some of those.  Let me dig it up and I'll point you to it shortly.

[2016-01-14 19:42] tbohn commented on #335
OK, thanks.  I am zeroing in on the soil layer max moist bug - it appears that layer thicknesses are ending up with an extra 0.0010 m being added to them in 5.0's read_soilparam.c.  Don't know the reason yet.  Did you see this and/or fix it in your branch?

[2016-01-14 20:14] tbohn commented on #335
... And the reason for the extra 0.0010 m is that the code used to round the soil thickness (depth) to the nearest mm in 4.2 was not completely replaced by the round() function in 5.0.

4.2's code (paraphrased):
  depth = (float)(int) (depth * 1000 +0.5) / 1000;
The adding of 0.5 and then casting as (int) achieves rounding.

5.0's code:
  depth = round(depth * 1000 + 0.5) / 1000;

If round() is su

[2016-01-14 20:25] jhamman commented on #335
@tbohn - Go ahead and leave it on this branch and just title your PR something like "fixing_5.0_bugs".

I'm not finding my branch and I'm not sure I had fixed much.  I do remember I was zeroing in on `read_soilparam.c` so this could be the bug we were hunting for.

[2016-01-15 01:07] #334 closed

[2016-01-15 01:26] jhamman commented on #332
closed via #333

[2016-01-15 01:26] #332 closed

[2016-01-15 05:14] tbohn opened #343 "VIC 5.0 classic never skips forcing records"
VIC 5.0 classic never skips forcing records - the first record in the forcing file will be used on the first step of the simulation, regardless of the date/time that the simulation is supposed to start.

The variable global.forceskip[i] is supposed to contain the number of records of forcing file i to skip before storing them in the atmos[] array.  global.forceskip[i] is initialized to 0 (as in 4.

[2016-01-15 17:46] tbohn commented on #276
@jhamman and @bartnijssen I am almost done with the coding and testing of this change.  One issue I need your feedback on is which type of PET to compute.

I'm trying to decide between:
1. PET = the transpiration that would occur from the land cover as it currently is (with its current architectural resistance and LAI), but in the absence of limitations from soil moisture, vapor pressure deficit,

[2016-01-15 20:23] tbohn opened #345 "Code cleanup in 5.0 runoff.c"
These are mainly cosmetic issues but would help in future code maintenance:
1. Since we have removed the variable Tlayer_spatial[frost_area], we can remove the loop over frost areas that computes tmp_fract, since the only purpose of this variable was for computing Tlayer_spatial[].  We can also remove tmp_fract itself.
2. It looks like someone started to replace frost_area with fidx, but only comp

[2016-01-17 02:40] tbohn opened #346 "Wrong aerodynamic resistance values in 5.0"
This is due to a sloppy implementation of the sync/4.2.c (I am to blame).  The problem is in `surface_fluxes.c`, in which I created a new array `iter_aero_resist_veg[]` and attempted to copy the values of `iter_aero_resist_used[]` into it.  The problem is that `iter_aero_resist_veg[]` has 3 elements but `iter_aero_resist_used[]` only has 2 elements.  This led to overstepping the array bounds and g

[2016-01-17 02:43] tbohn commented on #346
Note that this bug doesn't exist in 4.2.c, since I implemented the sync/4.2.c slightly differently from 4.2.c.

[2016-01-17 04:56] jhamman commented on #346
by all means, let's fix this.

[2016-01-17 21:17] jhamman commented on #343
closed via #344

[2016-01-17 21:17] jhamman commented on #335
closed via #341

[2016-01-17 21:17] #335 closed

[2016-01-17 21:20] jhamman commented on #336
closed via #342

[2016-01-17 21:20] #336 closed

[2016-01-17 21:25] jhamman commented on #345
sounds good @tbohn.  Feel free to issue a PR for this.

[2016-01-19 20:03] tbohn commented on #329
I think this was addressed in the sync/4.2.c PR that's been merged by now.

[2016-01-19 20:09] tbohn commented on #275
Regarding my previous comment: I think reading vegcover from the parameter file in image mode should be a separate issue, since it's not related to veg_hist.  I will open a separate issue for that, and create a separate pull request.

On the other hand, I think reading veg_hist from netcdf files (issue #325) *should* be included in this set of code changes since moving veg_hist logic out of vic_ru

[2016-01-19 23:16] tbohn commented on #337
As per my conversation with @bartnijssen and @jhamman, here's what I'll do:
1. Add another allowable value for options.VEGCOVER_SRC that will denote setting all VEGCOVER values to 1.0 - maybe I'll call it "UNUSED" or "DEFAULT" - I'll see if there are any existing preprocessor definitions that I can use.
2. Actually, no other items in the list at this time...

[2016-01-20 01:00] tbohn commented on #343
This issue still appears to be open... but should be closed...

[2016-01-20 06:22] #343 closed

[2016-01-20 06:24] #345 closed

[2016-01-20 06:24] jhamman commented on #345
closed via #349

[2016-01-20 06:34] jhamman commented on #329
closed via jhamman#8 and #324

[2016-01-20 06:34] #329 closed

[2016-01-20 07:13] jhamman opened #350 "rethink VIC's continuous integration"

[2016-01-20 16:23] tbohn opened #351 "Need to update VIC 5.0 ReleaseNotes.md to include VIC 4.2.c"
Currently VIC 5.0's ReleaseNotes.md asserts that VIC 4.2.b is the final release in the 4.2 series, and does not describe any of the changes that went into 4.2.c.

[2016-01-20 21:01] tbohn commented on #351
This was addressed by PR #330 :-)

[2016-01-20 21:03] tbohn commented on #328
I believe this issue can be closed, as it was addressed in PR #330.

[2016-01-20 22:21] jhamman commented on #328
@tbohn I'll close the issue but in the future, you can use [this](https://help.github.com/articles/closing-issues-via-commit-messages/) syntax to have these automatically closed when your PR is merged.

[2016-01-20 22:21] #328 closed

[2016-01-20 22:23] jhamman commented on #276
closed via #352

[2016-01-20 22:23] #276 closed

[2016-01-20 22:23] jhamman commented on #346
closed via #352

[2016-01-20 22:23] #346 closed

[2016-01-20 23:35] tbohn commented on #328
Ah, that's pretty slick.  I'll use it.

On Wed, Jan 20, 2016 at 2:21 PM, Joe Hamman <notifications@github.com>
wrote:

[2016-01-21 18:45] tbohn opened #353 "Unused parameters in CalcBlowingSnow.c"
There are several unused parameters in the functions sub_with_height, CalcSubFlux, and transport_with_height.  These generate warnings every time we compile.

[2016-01-21 19:08] tbohn opened #354 "Can display_current_settings.c be moved to the "shared" directory?"
There doesn't appear to be anything in display_current_settings.c that is not in vic_driver_shared.h or vic_def.h.  Which means that we could theoretically just have one version of display_... in the drivers/shared/src directory.

Are the driver-specific versions of display_current_settings.c intended to eventually diverge?

At the moment, their presence just makes code development more difficult

[2016-01-21 20:13] tbohn opened #355 "Forcing disaggregation-related variables not completely removed from 5.0"
At the very least, OUT_TSKC is still listed in vic_headers.py and OutputVarList.md.  It's worth doing a pass over all files to make sure no other variables are mentioned that were removed when MTCLIM was removed.

[2016-01-21 20:21] jhamman commented on #353
If you can figure out how to get rid of these warnings, by all means, go for it.  @bartnijssen and I have both tried and have given up.  see #https://github.com/UW-Hydro/VIC/issues/134.

This will require solver in `CalcBlowingSnow.C`.

[2016-01-21 20:22] jhamman commented on #355
Yes, let's remove `OUT_TSKC` and any other variables we missed when we removed MTCLIM.

xref: #288

[2016-01-21 20:27] tbohn commented on #353
Oh, I see.  I tried searching through the issues with the search string CalcBlow but it didn't turn this issue up.  Perhaps it only searched the open issues?  I understand now - the solver was hardcoded to expect these variables.  Well, if it's going to be that involved, I don't have any more time to spend on it than you all did.  So, perhaps it's worth tabling this.

[2016-01-21 20:37] jhamman commented on #354
I'm not sure how I feel about this.  What we're trying to ovoid is having a structure that looks like this anywhere in `vic_run` or `drivers/shared`:

[code]

I think the reason each driver has its own `display_current_settings.c` is that we only want to display settings relevant to the driver being used. There are settings in each driver that are not useful to the others.  We could change this, b

[2016-01-21 20:38] tbohn opened #356 "Some sample global parameter files contain outdated options"
Global parameter files are found in the following locations:
[code]
Many of these contain outdated options like `MEASURE_H`, `STARTHOUR`, `TIME_STEP`, `PLAPSE`, etc. that have been removed in 5.0.  We need to update these to work for 5.0.

[2016-01-21 20:45] jhamman commented on #356
I will update all the `tests/*` global parameter files when I start working on the test modules again.  This probably wont happen until February but its on my list and I know these have become out of date.

As for the sample, we should rename `global.param.sample` to `global.param.sample.classic.txt` and also include one for the image driver (`global.param.sample.image.txt`).  @tbohn - since you s

[2016-01-21 20:45] jhamman commented on #353
Yes, let's table this again.

[2016-01-21 20:45] #353 closed

[2016-01-21 20:48] tbohn commented on #354
I guess I don't understand the advantage of having several copies of mostly redundant files, or the disadvantage of the "if" logic.  The have already diverged and this type of thing makes it more difficult to ensure that one has updated all the files exactly the same way.

[2016-01-21 20:51] tbohn commented on #356
Sure, I can take that on.

[2016-01-21 20:58] jhamman commented on #354
I think the right way to do this is to refactor the `display_current_settings.c` of all drivers into smaller functions, the parts that need to be different can be defined by the driver, everything else can combined and put into `driver/shared`.

[2016-01-21 23:25] tbohn commented on #275
Question about the preferred method of solving this issue:

The offending block of code in vic_run() is an assignment of veg_hist variables for the given time step to the veg_var structure.  I could naively move that block up into the parent function (vic_<mode>, where <mode> = "classic" or "image"), but that seems a bit ugly/too detailed for the top-level function.  Alternatively I could create a

[2016-01-22 02:06] tbohn commented on #275
For image mode, I propose the following:
1. change dimensions of veg_hist to only store one time step's worth of values
2. remove the block that assigns the monthly veg_con climatology to veg_hist
3. implement reading of veg_hist from netcdf files (but only if the options.*_SRC are set to FROM_VEGHIST)
4. create a function that assigns either the veg_con or the veg_hist values appropriate to the c

[2016-01-22 06:05] tbohn commented on #275
The plan as it currently stands is to have a new function "update_step_vars()" do the assignment of veg_hist to veg_var, and I think this single function will work with both classic and image drivers.

[2016-01-22 16:57] tbohn opened #358 "Remove month information out of vic_run()"
There are still a few instances in which the current month is used (mainly as an array index) in vic_run() to determine parameter values.  Ideally we can move all references to the current month (or date or record) outside of vic_run().

[2016-01-22 16:59] tbohn commented on #275
While fixing this issue will help address the presence of references to current date or record in vic_run(), it won't fix all of them.  I've opened a separate issue (issue #358) to explicitly address removing references to date or record from vic_run().

[2016-01-22 20:27] jhamman commented on #358
:+1:

[2016-01-22 21:27] tbohn commented on #356
Some differences between classic and image versions of the global.param.sample file:
* VEGLIB_VEGCOVER and VEGPARAM_LAI/VEGCOVER/ALBEDO are disabled in image mode and should be excluded from the sample file

[2016-01-23 00:09] tbohn opened #360 "VIC 4.2.c documentation doesn't describe any releases since 4.2"
In VIC 4.2.c, the following files in docs/Development/ omit any mention of releases 4.2.a-4.2.c:
* CompatOpt.md (this even omits 4.2)
* CurrentVersion.md
* VersionSummaries.md

I propose setting the current version to 4.2.c in CompatOpt.md and CurrentVersion.md, and describing 4.2.a-4.2.c in VersionSumaries.md.

[2016-01-23 01:15] jhamman commented on #318
closed via #331

[2016-01-23 01:15] #318 closed

[2016-01-23 01:16] tbohn commented on #293
I think this issue was resolved a while back, but I'm having trouble locating the PR...

[2016-01-23 04:37] #356 closed

[2016-01-23 04:42] #360 closed

[2016-01-23 17:50] jhamman commented on #351
closed via #361

[2016-01-23 17:50] #351 closed

[2016-01-24 19:59] tbohn opened #365 "Remove initial state variables from soil and lake parameter files"
This is just a suggestion - not urgent.

The initial soil layer moistures and lake depth in the soil_param and lake_param files are really state variables (yet by themselves they do not completely specify the model state).  When an initial state file is specified, they are overridden by the corresponding values in the initial state file, in which case they are redundant and misleading.  If we wish

[2016-01-24 23:53] jhamman commented on #365
I'm a fan of this.  Never quite understood why these were in there.  :+1:

[2016-01-25 00:32] jhamman opened #366 "Remove duplicate information in global parameter file"
#364 fixes a bug in the parsing of the global parameter file.  There are three places where we have been specifying the size of a dimension when that size can be determined programmatically through parsing the global parameter file.  Removal of all three of these will simplify the global parameter file and will reduce the chance of running into bugs like #209.
- [x] `N_TYPES`: number of forcing va

[2016-01-25 00:34] tbohn commented on #354
You can assign this to me if you'd like - I'll do it the way you suggest.

[2016-01-25 00:35] tbohn commented on #325
You can assign this to me.

[2016-01-25 00:35] tbohn commented on #326
You can assign this to me.

[2016-01-25 00:36] tbohn commented on #327
You can assign this to me.

[2016-01-25 00:51] jhamman commented on #337
closed via #357

[2016-01-25 00:51] #337 closed

[2016-01-25 01:00] jhamman commented on #354
Okay, so how about this plan.
- Each driver keeps its own `display_current_settings.c`
- `driver/shared` gets a `print_current_settings.c` where a series of functions will consolidate code from the `classic/image/python` drivers that prints the settings that are shared among the drivers.  Everything else stays in the driver specific function.

[2016-01-25 01:05] tbohn commented on #354
Sounds good to me.  So, can you clarify what you mean by "series of functions" - do you want to create several sub-functions, perhaps for printing different sections/categories of settings?  Or do you mean something else?

[2016-01-25 01:09] jhamman commented on #354
That's exactly what I mean.

[2016-01-25 01:15] tbohn commented on #354
OK, will do.

[2016-01-25 01:15] tbohn commented on #326
Just a heads-up: I'm currently working on this, should be finished in a day or so.

[2016-01-25 01:33] tbohn opened #367 "Implement read/write of state variables in image driver"
Lake state variables are not currently read from/saved to state files in the 5.0 image driver.

It also appears that reading any state variables - not just for the lake, but all state variables - from a state file has not been implemented for 5.0 image driver.  If I'm mistaken, please let me know.  Otherwise, I will open a separate issue for that.

[2016-01-25 02:20] tbohn commented on #367
...and you can assign this to me, as I'm going to start working on it very soon.

[2016-01-25 02:54] jhamman commented on #367
Correct @tbohn.  Let's just make this issue about getting the read/write of state files in the image driver (I edited the issue title). Two pieces here:
- **Read the initial state file.** This is slated to go here: https://github.com/UW-Hydro/VIC/blob/develop/vic/drivers/image/src/vic_restore.c#L55-L57
- **Write the final state file.** This is slated to go here: https://github.com/UW-Hydro/VIC/blo

[2016-01-25 03:48] tbohn commented on #367
OK, sure.  The lake parameter stuff is almost ready - need to test the new code now.  I'd like to finish that up before embarking on the state file stuff - is that OK?

If you'd like to set up a time to meet or skype about this, just email me.

[2016-01-25 15:01] wietsefranssen commented on #297
can be closed (see #303).

[2016-01-25 15:26] wietsefranssen commented on #354
I agree with Joe's suggestion. So keeping `display_current_settings.c` in each driver and a series of small functions. Although this `display_current_settings.c` issue seems not too important, I think is this a very important -philosophical- discussion because we will have to deal with it in others parts of the code in the future.
In general I would suggest: make function as specific and small as

[2016-01-25 16:13] tbohn commented on #354
So, if I understand correctly, the approach we want to take in general is to implement conditional logic that depends on the driver *not* as "if" statements that appear in the code, but as alternate versions of the files - essentially using "make" to do the conditional logic once at compile time.

Now that I understand the philosophy, I'm fine with it.  Just out of curiosity, is the reason for thi

[2016-01-25 18:44] #297 closed

[2016-01-25 18:45] jhamman commented on #313
closed via #314 and #303

[2016-01-25 18:45] #313 closed

[2016-01-26 00:51] jhamman opened #369 "ENH: Share some image driver routines with other drivers"
VIC's driver structure looks something like this:

[code]

I'm proposing a minor reorganization to cut down on duplicate code as we begin to add other drivers that will use significant portions of the Image Driver.

[code]

- `vic/drivers/shared` becomes `vic/drivers/shared_all` and includes code shared between all drivers.
- code in `vic/drivers/image` that is general and will be used by any driv

[2016-01-26 01:21] tbohn commented on #369
The names `image` and `shared_image` are somewhat similar and I find it potentially confusing - "image" appears to be both a general category (referring to image *mode*) and a specific flavor of that category.  Perhaps "image" should be changed to something like "image_default" or some other name that indicates that it is one of many image mode drivers?

[2016-01-26 01:21] tbohn commented on #369
(otherwise I think your new structure is a good idea)

[2016-01-26 02:59] jhamman commented on #275
closed via #359

[2016-01-26 02:59] jhamman commented on #325
closed via #359

[2016-01-26 02:59] #325 closed

[2016-01-26 02:59] #275 closed

[2016-01-26 03:25] tbohn opened #371 "bug in warning messages in vic_force.c"
I didn't notice the compiler warnings when I built it, and they didn't trigger a failure in travis.  But the log_warn() functions I added in classic and image vic_force.c are each missing an argument.

[2016-01-26 03:56] jhamman commented on #209
closed via #364

[2016-01-26 03:56] #209 closed

[2016-01-26 04:07] jhamman commented on #371
closed via #372

[2016-01-26 06:01] tbohn commented on #371
I thought these would get automatically closed if referenced in the PR...  anyway this can be closed now.

[2016-01-26 07:29] #371 closed

[2016-01-26 07:57] jhamman opened #373 "ENH: Deprecate options in Image Driver Global Parameter File"
Options that can be deprecated:
- NLAYER (determined from soil parameter file)
- FORCE_FORMAT (always netcdf)
- FORCE_ENDIAN (stored in netcdf format)
- GRID_DECIMAL (not needed with netcdf)
- BINARY_STATE_FILE (always netcdf)
- RESOLUTION (area is provided in domain file)
- EQUAL_AREA (area is provided in domain file)
- CONTINUEONERROR (not useful in image mode)

Options that could be easily dete

[2016-01-27 05:10] jhamman opened #375 "ENH: Isolate MPI code in Image Driver"
@tbohn recently asked if it is possible to compile and run the VIC image driver without MPI.  This is currently not possible but sand-boxing the MPI code should be possible.

[2016-01-27 05:45] jhamman opened #376 "ENH: Build VIC drivers using Autotools/Automake"
It would be nice to have a single command-line utility to handle building any of the VIC drivers.  This could be done using GNU Autotools/Automake. This might look something like this:

[code]
As we add dependencies and build out the extensions in VIC 5, we can put most of the build time decisions in the configure scripts, allowing the VIC source code to stay mostly clear of build time directives.

[2016-01-27 19:45] lizaclark opened #377 "ERROR: Soil thermal nodes do not extend below bottom soil layer"
I ran VIC v. 4.2.c over a basin in the Columbia River Basin (PNW, U.S.) in energy balance mode (3-hour time step). The model ran to completion for all cells; however, at least one cell gave the following error:

"ERROR: Soil thermal nodes do not extend below bottom soil layer, currently unable to handle this condition."

I have 10 soil thermal nodes and 3 soil layers. FROZEN_SOIL is FALSE. Damping

[2016-01-28 05:31] tbohn commented on #293
OK, this issue was resolved by PR #288.  @jhamman I think we can close this issue.

[2016-01-28 05:53] jhamman commented on #293
okay, thanks @tbohn

closed via #288

[2016-01-28 05:53] #293 closed

[2016-01-29 16:56] jhamman commented on #211
my proposal for how we should do this in the global parameter file is that we specify the netCDF variable name after listing the variable identifier e.g. `FORCE_TYPE    <var_identifier>    <nc_var_name>`.  In practice, this would look like this:

[code]

[2016-01-29 17:00] tbohn commented on #211
Looks good to me.

[2016-01-30 00:45] jhamman commented on #211
okay, I'll do this then.  I will be adding a member to the `force_type_struct` structure in `driver/shared`.

[2016-02-02 00:16] jhamman opened #380 "ENH: Keep netCDF files open"
We have a bunch of functions in the `image` driver that operate on netCDF files, they all look something like this:

[code]

We end up redundantly opening and closing the parameter, forcings, and domain files.  I think @wietsefranssen has already reported that keeping the forcing file open speeds up the image driver considerably, the next step would be to extend that to all netcdf files in the ima

[2016-02-02 00:26] jhamman opened #381 "ENH: Better multi-file forcing support for the image driver"
The image driver currently supports a single multi-file forcing format that appends  the year to the end of the filepath in the format of `forcing/path/prefix.YYYY.nc` where `YYYY.nc` is appended during runtime. For example:

[code]

This requires the user have there forcing files in a very specific configuration. For large model domain as short timesteps, users may find working with the large net

[2016-02-02 03:10] bartnijssen commented on #369
That's a good idea. Maybe something that conveys that the `image` mode is a standalone driver (all the other `image` modes are part of a larger framework).

`vic_image_standalone` is a bit off a mouthful (as opposed to `vic_classic` or `vic_image`. I suggest moving ahead with the directory split (we can always rename that), but to keep @tbohn's comment in mind. If anyone has a good title that'd be

[2016-02-02 03:13] tbohn commented on #369
How about:
vic_default
vic_generic
vic_vanilla
vic_nilla

[2016-02-02 03:17] bartnijssen commented on #375
Yes agreed - although for any larger scale applications the use of MPI would be a must-have, since "poor man's parallelization" a la `vic_classic` is no longer possible. Keep in mind that you can run with mpi on a single processor, so this seems to be mostly a compilation issue and using MPI is not that onerous on most systems (not sure about windows),

So I would leave this as a low priority for

[2016-02-02 03:19] tbohn commented on #375
This is fine with me too as I was simply asking to find out what my options were - at the time, my machine didn't have mpi.

[2016-02-02 03:49] bartnijssen commented on #380
This was just implemented that way for expediency sake when doing the first implementation. We *definitely* want to keep the files open during the run, since the reopening of the files brings a lot of overhead for netcdf files. Similarly we'll want to keep the output files open for as long as we can.

Note though that you cannot necessarily keep the files open for the duration of the simulation si

[2016-02-02 06:07] jhamman commented on #377
@tbohn - any idea what is going on here?

[2016-02-02 06:13] tbohn commented on #377
The problem is fairly trivial - the check just needs to be modified to only happen when FROZEN_SOIL = TRUE.

[2016-02-02 16:26] tbohn opened #382 "better name for vegcover?"
The veg parameter "vegcover" denotes the area fraction of a given veg tile that is covered by plants (as opposed to exposed soil between the plants).  But "vegcover" sounds similar to the definition of Cv (the area fraction of a veg tile) and the exposed soil sounds similar to a bare soil tile, leading to some confusion.  My attempts to make the difference clear in the comments describing the vari

[2016-02-02 17:50] jhamman opened #383 "ENH: Support any number of forcing files"
Currently, the classic and image drivers support one or two forcing files (`FORCING1` and `FORCING2`).  The infrastructure is in place to generalize this and to support any number of forcing files.  This would be a fully backward compatible change.

xref: #374

[2016-02-02 20:00] jhamman commented on #373
closed via #374 and #378

[2016-02-02 20:00] #373 closed

[2016-02-02 20:00] #366 closed

[2016-02-02 23:01] bartnijssen commented on #350
I like this idea. Are there any that are compatible with Travis so that we can still leverage the builds we did there?

Once we have a fully working test case for image mode it would be interesting to do some timing test with and without using DOcker.

[2016-02-02 23:07] jhamman commented on #350
We can use them together. Github will integrate with both of them and our pull requests will report status from both of them. The nice thing about `werker` is that we don't have to install the dependencies and we can specify **everything**, so in theory, the builds should be even faster.

[2016-02-02 23:38] bartnijssen commented on #365
They were in the soil files for historic reasons. There was a time when restarts were not considered a major feature and it allowed an easy way to initialize a run without having to create a state file (which was more difficult to construct than adding a column to the soil parameter file). We should pull this out as suggested and have states initialized through the state file. Note that that will

[2016-02-02 23:41] bartnijssen commented on #326
@tbohn: The danger of adding time estimates to issues ....

[2016-02-02 23:43] bartnijssen commented on #367
Thanks for doing this - bit-for-bit restarts should really be the requirement here. Something that VIC has never been able to do, but which is essential for a number of projects.

[2016-02-02 23:49] bartnijssen commented on #354
Same here - I prefer the implementations suggested by Joe and Wietse. We don't want if statements to distinguish the different drivers. For me, the main reason is not performance-based (the hit of additional `if`s for version checking is not meaningful compared to the remaining computations). For me the reason is that in reality the drivers will likely be maintained by different communities, so th

[2016-02-02 23:51] tbohn commented on #365
I also support the removal of initial state information from the soil and lake parameter files.

Still, given the effort still involved in creating an initial state file, I'd vote for either (a) continuing to allow VIC to start from a default "cold" state so that it can create an initial state file after a spinup, or (b) modify tonic to create a default "cold" state file from the soil, veg, lake,

[2016-02-02 23:54] bartnijssen commented on #376
:+1:

[2016-02-02 23:55] tbohn commented on #326
Actually, I finished the code shortly after that statement.  But yes, unforeseen issues intervened.  I thought testing the code would be much more straightforward.  I'm currently updating tonic to convert some ascii vic inputs that I have (including lake parameters plus new options) to netcdf.  Which I guess needs to be done sooner or later.

[2016-02-02 23:58] bartnijssen commented on #381
Sure - although there is a large performance hit for using daily files (see issue #380). We'd need to implement this in a way so that we keep the files open while there are still unread records.

[2016-02-03 00:01] bartnijssen commented on #375
Actually - maybe we leave this as-is and instead focus on getting VIC to compile within a container architecture. That would require users to install Docker or something like it, but it would take away the need for compilation on different systems.

So my vote for now would be to mark this as "won't fix" and instead focus on issue #350.

[2016-02-03 00:03] bartnijssen commented on #382
YES (this has confused me a number of times already): :+1:

`fcan` is fine with me, although a longer and less cryptic name would be preferred.

[2016-02-03 00:04] bartnijssen commented on #365
To me b) would be preferred, but I understand that this may be more work

[2016-02-03 00:05] tbohn commented on #382
How about fcanopy?

[2016-02-03 00:06] bartnijssen commented on #382
:+1: (as you can tell I have discovered the thumbs up sign in github - just copying the cool kids)

[2016-02-03 00:06] tbohn commented on #365
What if we implement (a) to start with, since it's easy and then we have a more stable version of the parameter file formats, and then implement (b) later?  Or is this kicking the can down the road?

[2016-02-03 00:07] bartnijssen commented on #365
That is fine with me for now. Maybe open a separate issue for tonic to describe this (and reference this discussion).

[2016-02-03 05:33] jhamman commented on #375
Okay, closing then for now.  We can reopen if someone is interested in the future.

[2016-02-03 05:33] #375 closed

[2016-02-03 06:08] jhamman commented on #377
Okay, so let's make sure the following are true in VIC 5:
 - this check is only performed when it matters (FROZEN_SOIL is TRUE)
 - If we say ERROR, we actually raise an error.

[2016-02-03 06:25] bartnijssen commented on #377
Agreed

[2016-02-03 18:35] tbohn opened #385 "Should 5.0 classic driver also require explicit bare soil tiles?"
Just wondering if this is desirable, for consistency with image drivers.  Note that land cover classifications generally contain an explicit bare soil class, and we can easily add a bare soil class to our veg library (I'm doing so for my current project already).

Downsides to this would be that older, widely used datasets would need to be updated.

But perhaps tonic could handle that conversion.

[2016-02-03 19:02] lizaclark commented on #377
This sounds good to me. The only other thing that might be useful is if the error message said: </br> "ERROR: Soil thermal nodes do not extend below bottom soil layer, currently unable to handle this condition. Check that soil thermal damping depth is greater than total soil column depth."

[2016-02-04 01:28] jhamman commented on #385
I'm 50/50 on this.  As long as we provide a conversion tool, I like the idea of cleaning up the VIC parameter files in the classic driver. However, since I don't have plans to use the classic driver, I'm not all that motivated to make this change.  Maybe others have stronger opinions?

[2016-02-04 01:29] jhamman commented on #382
`fcanopy` sounds good.

[2016-02-04 01:32] tbohn commented on #382
More details: this should involve:
1. change all instances of the variable name "vegcover" (or "VEGCOVER") to "fcanopy" (or "FCANOPY")
2. change comments/descriptions in source code to use the term canopy cover fraction instead of partial vegetation cover fraction, etc.
3. change documentation in the same way

[2016-02-04 01:43] jhamman commented on #381
Absolutely, we should say just point out in the documentation that the more files you include, the bigger performance hit you're going to have.  I don't see that as a reason not to support smaller files though, it should be up to the user.

[2016-02-04 02:26] tbohn opened #386 "Have 5.0 image driver use a single file handle for parameters"
The classic driver stores parameters in different files: soil, snow, veg, veg_lib, lake.  This makes sense because they are all ascii and have different data structures.

Netcdf files can accommodate heterogeneous structures more easily, so it makes sense to put all parameters in a single netcdf parameter file.  This would only necessitate a single file handle for the parameter file, instead of 4

[2016-02-04 05:53] jhamman commented on #386
I think it makes sense to have each driver use a custom structures for file names and file pointers. I'm happy to take this on as it has to do with #380 and #381.

[2016-02-05 18:46] tbohn commented on #211
Regarding the other netcdf input files (parameters, state vars), how/where should we define the names, and do you anticipate getting to this any time soon?

I'm simply asking because I'm looking at the names we're giving the parameter variables in the "tonic" scripts and thinking that they could stand to be a little clearer.  If we're going to make this totally flexible, then I can just go ahead a

[2016-02-05 18:53] jhamman commented on #211
I think being flexible on the variable names would be okay but I'm not going to do that in this PR.  For now, I'd say make the names in the parameter file descriptive and change them in `vic_init` and `tonic`. Since he parameter file is very VIC specific, it is probably safe to assume folks can handle matching the required variable names. This is not the case for the forcing/domain files.

[2016-02-05 18:57] tbohn commented on #211
OK, will do.  Shall I open a separate issue for these parameter name changes?

[2016-02-05 18:58] jhamman commented on #211
a PR is fine.  Just reference this discussion there.

[2016-02-09 02:29] tbohn commented on #278
Regarding this issue: now that I'm working with tonic, which as you might know adds an explicit bare soil class (my recent updates make this conditional on the veg library not already containing a bare soil class).  We could make an explicit bare soil class a requirement in classic too, and refer users to tonic to convert their ascii parameter files (have tonic convert to netcdf and add bare soil,

[2016-02-13 19:49] tbohn opened #390 "Implement reading of carbon parameters in 5.0 image driver"
Carbon parameters from the veg_lib file are not currently read in.

[2016-02-15 20:26] tbohn commented on #377
Actually, the solution is not as trivial as I'd thought, although it's still fairly simple to solve.  My previous response was too hasty - I relied on my imperfect memory of the code without confirming by checking the code.

It turns out that even when FROZEN_SOIL is FALSE, the code estimates soil layer temperatures (using QUICK_FLUX scheme if appropriate).  Obviously these temperatures won't be v

[2016-02-18 05:11] jhamman commented on #326
closed via #388.

[2016-02-18 05:11] #326 closed

[2016-02-18 05:11] jhamman commented on #382
closed via #388.

[2016-02-18 05:11] #382 closed

[2016-02-18 05:44] tbohn commented on #377
@lizaclark can you point me to the input parameters, forcings, etc for a grid cell that failed?  I'm trying to reproduce the error but not able to - could be my settings or something...

[2016-02-18 06:27] lizaclark commented on #377
@tbohn : Check your email for the test files.

[2016-02-19 00:57] jhamman commented on #327
closed by #389.

[2016-02-19 00:57] #327 closed

[2016-02-19 04:19] jhamman commented on #390
closed via #391.

[2016-02-19 04:19] #390 closed

[2016-02-19 12:55] wietsefranssen commented on #211
`FORCE_TYPE <var_identifier> <nc_var_name>`looks good for me too

[2016-02-19 13:15] wietsefranssen commented on #380
A while ago I did a little test with keeping the files open and it indeed increased the running time a lot.
I am looking forward to the changes!

[2016-02-19 16:24] jhamman commented on #211
closed by #379

[2016-02-19 16:24] #211 closed

[2016-02-19 23:36] jhamman commented on #369
@tbohn - do you have any branches in progress right now (e.g. statefile stuff from #367)?  If you haven't started that yet, I'll bust this issue out real quick.

[2016-02-19 23:37] jhamman commented on #369
Also - I'm not sure I can bring myself to calling anything `vic_nilla`.  Way to gangsta, VIC is more of a 1990s minivan.

[2016-02-19 23:56] tbohn commented on #369
I haven't yet started the statefile mods to VIC code - focusing on tonic first.  So bust a move.

How about "vic_standalone" without the word "image" in it, since it's already going to be under the "image" umbrella?

[2016-03-08 23:34] jhamman commented on #369
closed via #392

[2016-03-08 23:34] #369 closed

[2016-03-11 21:38] tbohn opened #398 "Likely redundant information in state files"
At some point it would probably be good to attempt to reduce the number of variables stored in the state files.  There are a large number currently, particularly lake state variables, and I think several of them could contain redundant information or could be derived from the others (i.e. not independent of each other).  Eliminating some of these would save space and make code maintenance easier.

[2016-03-11 21:48] tbohn commented on #398
Note that I'm not suggesting that this is a high priority for VIC 5.0.  I'm just documenting it.

[2016-03-17 04:51] bartnijssen commented on #385
Same - I think specifying it explicitly is more obvious. It would be good if someone who uses the classic version to add the conversion capability. Maybe change the issue title to (or open a new issue):

Require explicit bare soil tile in classic driver

and then have a dependent issue

Create soil conversion utility in tonic for to update the soil file for VIC classic

[2016-03-17 04:54] tbohn commented on #385
Just FYI - tonic currently reads in the classic parameters and adds an explicit bare soil tile if one doesn't exist (also adds an explicit bare soil class to the list of available classes if one is not present in the library).  So all that is needed is the ability for tonic to convert the netcdf parameters to a set of new 5.0-compliant ascii parameter files

[2016-03-17 04:55] bartnijssen commented on #278
See discussion in issue #385 .

[2016-03-17 04:58] bartnijssen commented on #377
@tbohn : Just checking that this is still in the works ...

[2016-03-17 04:59] bartnijssen commented on #380
Me too!

[2016-03-17 05:11] bartnijssen commented on #398
We should be careful to sort this out at some point. We definitely do not want redundant inf. Not just for file size, but because we should not carry copies of the state internally either. This will make it too easy for bugs to creep in. For example, someone would update one and forget that there is another instance.

[2016-03-17 15:32] jhamman commented on #385
Okay, so lets do this. Let's also keep this as a fairly low priority and try to find someone other than @tbohn and I to do this :wink:

[2016-03-18 05:36] tbohn commented on #367
@bartnijssen - looking at the existing vic_store() function, I see that you've put snow_bands in the outer loop, and veg_class in the inner loop.  Any particular reason for this order vs veg in the outer and band in the inner?  Classic state files are structured with veg in the outer loop...

[2016-03-18 20:30] tbohn commented on #367
@jhamman I'll ask you the same question I asked Bart: in the netcdf state files, should we structure the data as currently written in vic_store(), namely, bands in the outer loop and veg in the inner loop, or make it consistent with the classic driver files, namely, veg outer / bands inner?

Internally, VIC stores the data first by veg, then by band, so the classic driver state files are consisten

[2016-03-18 20:44] bartnijssen commented on #367
We should optimize it so that the read is fastest (read one spatial slice at a time I think)

[2016-03-18 20:45] bartnijssen commented on #367
There is no particular reason for the state files from the different drivers to be entirely consistent. It would be nice, but classic is ASCII and image is netcdf, so that will differ anyway.

[2016-03-18 21:03] tbohn commented on #367
OK, thanks.  But why wouldn't a veg outer loop also be a single spatial slice at a time?  Either way, for each combination of veg and snowband, there is a spatial slice...

[2016-03-19 01:51] tbohn commented on #367
A different issue: I'm having tonic write things like gridcell and mask to the state file (similar to the parameter file).  I realize that VIC may not need those variables but someone analyzing the file might want those handy.  If you all have no objections, I will also have vic_store() write those to the state file.  vic_restore() need not read them in.

[2016-03-19 01:56] jhamman commented on #367
:+1: At some point, we need to write some checks that the coordinates and mask match between all these files. This will help with that.

[2016-03-19 02:38] tbohn commented on #367
I also see that longer, more descriptive variable names have been used.  I'm continuing along those lines - I've changed the names of some of those in vic_store(), and I will be changing all the variable names in tonic to match them.

[2016-03-19 20:51] tbohn commented on #367
@jhamman or @bartnijssen - while looking into storing arrays of lat and lon in the state files (I found how to do that), I tried to find where soil_con.lat and lng are assigned in image mode, and found only an initialization of them to 0.0 in init_library().  Are soil_con.lat and lng simply never assigned values in image mode, or did I miss something?

They are used in the carbon code, so they nee

[2016-03-19 21:16] tbohn commented on #367
More broadly:
1. (Assuming you're on board with reading lat/lon from the param netcdf file and storing in soil_con) Can we require lat and lon variables in all netcdf files?
2. Given that vic allows for either 1-d or 2-d versions of lat and lon in the output files, should we enable this choice in all netcdf files too?  If so, should they be required to be the same across all files, or allow to dif

[2016-03-19 21:33] tbohn commented on #367
Just to follow up: I'm leaning towards not having VIC read or write the 'gridcell', 'run_cell' or 'mask' variables, and I'm guessing you (@jhamman and @bartnijssen) are also.  I propose still having tonic write those variables for comparison with the ascii inputs, but having VIC ignore them.

[2016-03-19 21:51] tbohn commented on #367
While we're at it, I see in vic_init() that the dstart and dcount indices are set using the global_domain structure.  Yet, then assignment to soil_con and other structures loops over i from 0 to local_domain.ncells_active.  I'm not sure what the difference is between global and local domains, but if they differ at all, it seems that the code will not have the desired effect (wouldn't you want to h

[2016-03-19 23:40] tbohn commented on #398
Regarding the redundant lake state variables: it may be a good idea to remove some or all of those from VIC altogether, not just from the state file.  Particularly the variables pertaining to the snowpack on top of lake ice - there are versions in the lake_var.snow structure, which I would recommend keeping, and in the lake_var structure itself, which I would recommend removing (replacing througho

[2016-03-19 23:51] tbohn commented on #367
Regarding the lat/lon coordinate variables: I'm just going to assume that the forcing, params and state netcdf files follow the same convention as the output results and state files, namely, COORD_DIMS_OUT determines their dimensions and DOMAIN_LON/LAT_VAR determine their names.  If you have any objections, please let me know.

[2016-03-20 16:44] jhamman commented on #367
Ted, catching up on your comments here:

re. https://github.com/UW-Hydro/VIC/issues/367#issuecomment-198621008:  Yes, lets use dimension names that are meaningful.  They do not have to match those in the C source code.  In fact, giving the abbreviated nature of the variables in C, I'd say let's try to create self describing variables for the state files (e.g. `moist` --> `soil_moisture`)

re. http

[2016-03-20 17:23] tbohn commented on #367
Thanks @jhamman - I'll look into reading/processing gridcell, run_cell, and mask from vic_init() and writing it into all output and state files.  Depending on how involved it is, I might put that into a separate issue, for expediency's sake, if that's OK.  I need to wrap up my coding today and attend to some other things.  I'll have opportunities to continue working on VIC later this week, but I d

[2016-03-20 17:45] tbohn commented on #367
Yet another question: any objections to my renaming vic_restore() to vic_restart() and creating a new vic_restore() that does the reading of the initial state file?  vic_restart() would be the analog of vic_start() in that it calls several functions needed to restart vic, and vic_restore() would be one of them.

[2016-03-20 17:51] jhamman commented on #367
sounds fine to me.

[2016-03-20 17:51] tbohn commented on #367
Which parts of what I asked - all of it?

[2016-03-20 17:52] jhamman commented on #367
- yes to atomic features in your PRs
- yes to renaming `vic_restore`
- yes to using the same naming convention as the `classic` driver.

[2016-03-20 21:10] bartnijssen commented on #367
Hold on - I would like to see an explanation of the `vic_restore` rename, because as described it sounds like there will now be a `vic_restart` that overlaps functionality with `vic_start`. That is not what we want. `vic_start` should always be called and `vic_restore` is already mentioned to simply restore the state, so I am concerned that there will be duplication of functionality. Please elabor

[2016-03-20 21:25] tbohn commented on #367
No worries.  I won't overlap/change functionality.  However, I see your point, since what I was proposing to call vic_restart() would be called from vic_start(), leading to new confusion.

How about this:

- Rename vic_restore() to vic_populate_state() - this name has no connotations regarding how the state is populated (as opposed to vic_restore(), which seems like the opposite of vic_store()).
-

[2016-03-20 21:35] bartnijssen commented on #367
The whole point was that `vic_store` and `vic_restore` would be counterparts that do the opposite. Let's discuss this in person at the VIC5 meeting tomorrow. We can throw these comments up on the screen and look at the code to make a decision.

[2016-03-20 21:42] tbohn commented on #367
OK, just for the record, for me the crux of the problem is that "restore" implies that a state previously existed (was written to a file by vic_store) and should be read back in.  So, "vic_restore" should not be the name of something that might create a new state from scratch as with a cold start.  That's all I'm sayin'.

[2016-03-20 21:47] bartnijssen commented on #367
Yep - I fully agree. I had originally envisioned that there would be a tool in tonic that would allow one to create an initial state if one did not exist. I don't like how VIC currently implicitly creates a state if there isn't one. It hides the user's responsibility to create a plausible initial state and leads to spinup problems for users who are not aware of what the initial state is. So you wo

[2016-03-20 21:54] tbohn commented on #367
OK, fair enough, I agree with that too.  So, let's modify my previous proposal:

- Rename the current vic_restore() to vic_populate_model_state()
- Name the new function that reads initial model state: vic_restore()
- vic_store() won't change name
- At present, the creation of a new model state from scratch is handled in initialize_model_state().  But I can open a new issue to request that the log

[2016-03-21 00:05] tbohn commented on #367
Re: global and local domains - I now see that get_scatter* and gather_put* handle the mapping between global and local domains.

[2016-03-21 01:41] bartnijssen commented on #367
Yes - you should handle this exactly the same way as reading any slice of data and let the `get_scatter_*` and `gather_put_`* handle the distribution behind the scenes. Anything else will pretty much not make it through code review.

[2016-03-21 01:46] tbohn commented on #367
Yes - no worries, I have done that (except in a couple of cases in which I was dealing with non-geographic arrays that didn't need that).

My comment was referring to an earlier question I had about why the dstart and dcount values were relative to the global domain, while the looping over elements of dvar[] was relative to the local domain.  The reason is that the get_scatter* functions did the m

[2016-03-21 01:49] bartnijssen commented on #367
Ah yes - indeed!

[2016-03-21 06:17] tbohn opened #400 "Support / validation of gridcell, run_cell, and mask arrays"
Tonic currently writes gridcell, run_cell, and mask arrays to the parameter and state netcdf files.  It would be good for VIC to do this as well in its output and state files.  Then VIC could check for consistency across the various input files.

[2016-03-21 06:27] tbohn opened #401 "Move default initial state creation to a separate function"
Currently, initialize_model_state() creates a default initial state when no initial state file has been supplied, in addition to various processing of state variables (e.g. variables that are derived from others).  The logic for creating the default initial state could be moved to a separate function, for cleaner,better organized code.

[2016-03-21 17:40] tbohn opened #404 "Add support for veg_hist forcings (non-climatological)"

[2016-03-22 00:23] tbohn opened #405 "Incorrect aerodynamic resistance over lakes"
I've already identified the problem and the fix is two lines in lakes.eb.c.

[2016-03-22 00:29] tbohn opened #406 "Inappropriate choice for default initial lake temperature in absence of initial state file"
Currently, in the absence of an initial state file, VIC initializes the entire lake water column to the first time step's air temperature.  A common case when running simulations with lakes (yes, multiple groups are running VIC with lakes) even in temperate regions is that the simulation starts at midnight, Jan 1, and often air temperature is below freezing.  Initialize_model_state() does put a lo

[2016-03-22 03:53] jhamman opened #407 "Implement lakes in CESM driver"
The initial CESM driver did not implement lakes. These features can be added in follow up work.

xref: #326, https://github.com/UW-Hydro/VIC/pull/397#discussion_r56856249

[2016-03-22 04:37] jhamman opened #408 "Time varying albedo"
The CESM and Image drivers both have a block of code in them that looks like this:

[code]

This issue is meant to raise the issue stated in the comment regarding the correct way to average albedo.

[2016-03-22 04:45] bartnijssen commented on #400
But do we always want these to be consistent? I am not sure what you mean with consistency here. I want to be able to change `run_cell` without having to be the same as the mask. Maybe we're saying the same thing, but please define *consistency*

[2016-03-22 04:47] bartnijssen commented on #404
As discussed - if we can get them into 5.0 then great. If not, then we can bring them in soon after.

[2016-03-22 04:50] jhamman commented on #400
I think we want the coordinates (lat/lon) and mask to be consistent between all files.  Some checks in the code to make sure that is always the case would be good.  I do not think `run_cell` needs to match the mask in all cases but I suppose that could be discussed.

[2016-03-22 04:51] bartnijssen commented on #408
I guess it only matters once we actually have a time varying albedo. Until then it makes no actual difference, so I am going to mark it *someday*

[2016-03-22 05:07] bartnijssen commented on #400
run_cell should definitely be allowed to differ from mask. That was my point (otherwise we would not need both). I may want to run a small subset and should not have to create new files to do so (same as run flag in classic mode)

[2016-03-22 05:23] tbohn commented on #400
Sorry, I should have given a more detailed description.  But it sounds like you all have added the necessary details.

[2016-03-22 16:02] jhamman opened #409 "TESTING: Exact restarts"
All drivers should support exact restarts.  This issue is meant to track the test implementation for this feature.

**Driver specific notes:**
Classic Driver - Only when binary state file is used, ASCII will have round off errors
Image Driver - xref: #402
CESM Driver - xref: #196, should support CESM rpointer file convention ([ref](http://www.cesm.ucar.edu/models/cesm1.0/cesm/cesm_doc_1_0_4/x2094.

[2016-03-22 16:05] jhamman opened #410 "TESTING: Results match between drivers"
Add a series of tests that check that the `Classic`, `Image`, and `CESM` drivers all produce the same results when run with the same set of forcings and settings.

cc @dgergel

xref: #196

[2016-03-22 16:09] jhamman opened #411 "ENH: Add Carbon and Dynamic Vegetation (CN-DV) Extension"
Add @mabrunke's Dynamic Vegetation feature as an extension in the CESM (and Image) drivers.

[2016-03-22 16:15] jhamman opened #412 "ENH: Vegetation dependent snow albedo"
As used in RASM Version 1.0 and detailed by Hamman et. al (In Revision).  See also RACM revision r370.

[2016-03-22 16:19] jhamman opened #413 "ENH: Emissivity < 1"
In most places in VIC (but not all), VIC assumes `emissivity==1.0`. While this has a small impact on the overall surface energy balance, it is not physically realistic.  RASM Version 1.0 has implemented a more accurate representation of emissivity (see RASM revision r790).

[2016-03-22 16:21] jhamman opened #414 "ENH: Spatially varying measurement height"
RASM version 1 supported a spatial varying measurement height provided by the coupler.  This allowed VIC to use the height of WRF's lowest model level as its measurement height.

xref: #196

[2016-03-22 16:23] jhamman commented on #196
I have just opened individual issues for the remaining issues in this todo list. We can continue discussion on the individual issues.  Closed via #397.

[2016-03-22 16:23] #196 closed

[2016-03-23 16:47] jhamman opened #418 "Allow user to provide specific humidy or vapor pressure"
VIC uses vapor pressure (`VP`) internally.  However, `vic_force` in both the `classic` and `image` drivers only allows specific humidity (`SHUM`) which is converted to `VP`.  MTCLIM in VIC 4 produces VP when run in `OUTPUT_FORCE` mode. I'd like to suggest that we allow the user to provide `VP` or `SHUM` and that `vic_force` handles the conversions if necessary.

cc @wietsefranssen

[2016-03-24 05:16] tbohn opened #419 "Incorrect albedo reported over lakes"
VIC's internally-used albedo over lakes is fine.  But it isn't being reported correctly in output files.  This won't affect results in any way (except for reported albedos).  The fix is trivial - a one-liner.

[2016-03-24 05:28] jhamman commented on #419
So is the problem in `put_data` or somewhere in `vic_run`?

[2016-03-24 05:32] tbohn commented on #419
It's in vic_run, in lakes.eb.c.

[2016-03-24 05:35] jhamman commented on #419
Okay, let's fix this for 5.0, but after we have the test suite put together so we can demonstrate the change.

[2016-03-24 05:37] tbohn commented on #419
Sure.

[2016-03-24 06:03] tbohn opened #420 "Incorrect energy fluxes reported over lakes"
Similar to issue #419 for albedo, several energy flux terms are reported incorrectly over lakes.  They've been scaled by the wrong area fraction.  The fix here is similarly trivial, and, as for albedo, the fix occurs in `lakes.eb.c` under `vic_run`.

[2016-03-24 18:40] jhamman opened #421 "BUG: snow_age state variable should have explicit units (seconds)"
The `snow_age` state variable is currently stored in units of "timesteps". I'm proposing that we change the units of this variable in `vic_run` and in the state files for all drivers to something that does not depend on the model timestep (e.g. seconds).  The current approach fails if the user changes the timestep when restarting the model.

xrefs: https://github.com/UW-Hydro/VIC/pull/402, https:/

[2016-03-24 23:45] jhamman commented on #50
closed via #387

[2016-03-24 23:45] #50 closed

[2016-03-24 23:46] jhamman commented on #79
partially completed by #387

follow up PRs will add science and release test datasets.

[2016-03-25 16:44] jhamman opened #422 "ENH: Check that the coordinates and masks match for all input datasets"
Trust but verify.

We need to add a series of verification steps to check that the `mask`, and coordinates (e.g. `longitude` and `latitude`) match in each of the following files.  Ultimately, the domain file is the reference here so everything else should within some tolerance of the values therein.

- domain file
- forcing files
- parameter file(s)
- state file

xref: https://github.com/UW-Hydro/

[2016-03-25 21:57] tbohn opened #424 "Inappropriate choice for default initial soil temperature in absence of initial state file"
Currently, the default initial soil temperature in the absence of an initial state file is set to the air temperature of the first time step.

A better choice (closer to equilibrium) would be soil_con.avg_temp, as long as this has been supplied.  This would reduce the amount of time necessary to spin up to a usable initial state.  This would also provide a potential solution to the TBD in vic_popu

[2016-03-25 22:08] jhamman commented on #424
Naive question: would it be possible to remove any dependence on the first timestep of met forcings? If so, this would be idea of the CESM driver where we don't get the first timesteps forcings during initialization.

[2016-03-25 22:22] tbohn commented on #424
Not naive at all.  If the annual average soil temperature is supplied in the soil parameter file (which is required as the bottom boundary condition for the full_energy case) then we can use that to initialize soil temperatures.  All we need to do is modify the logic in read_soilparam() and vic_init() to require annual average soil temperature to be supplied if an initial state file is not supplie

[2016-03-25 22:53] tbohn opened #426 "Lake model gets water balance errors when snow_bands are turned on"
I haven't tracked down the specific cause.  I'm also not suggesting that this is high priority - as far as I know, nobody is trying to run the lake model with snow bands.  But some day someone might want to fix it.

[2016-03-26 17:40] jhamman opened #428 "ENH: rename atmos_data_struct"
As mentioned by @bartnijssen in https://github.com/UW-Hydro/VIC/pull/427#discussion_r57509615, the `atmos_data_struct` has grown to include more variables than the "atmosphere" would provide or the name would indicate.  For example, the structure includes the member `channel_in` which represents the incoming channel inflow.

@bartnijssen has suggested renaming the `atmos_data_struct` to something

[2016-03-29 16:54] jhamman opened #429 "Remove reporting of cumulative water and energy errors from put data"
The current implementation of `calc_water_balance_error` and `calc_energy_balance_error` uses `static` variables to calculate the maximum and cumulative water and energy balance errors.  This works fine in the `classic` driver but in the `image-like` drivers, these static variables end up being the sum of all the errors in the `local_domain`. In the last timestep, a huge dump of meaningless text i

[2016-03-29 18:03] jhamman opened #430 "Compiler warnings in Classic Driver"
These just popped up recently on the develop branch:

[code]

[code]

[2016-03-29 22:34] tbohn opened #433 "Typo in vic_init() prevents snow_band Pfactor from being read"
The fix is trivial: change line 843 from
`soil_con[i].BandElev[j] = (double) dvar[i];`
to
`soil_con[i].Pfactor[j] = (double) dvar[i];`

[2016-03-29 23:19] jhamman opened #435 "Compile time errors using openmpi in image driver"
I was unable to compile the current develop branch (0327a98894e2a69cc9509bf1dff8f9a2ca983d66) on `hydra` or `thermal` today. This may be an issue with library versions so I'm cc'ing @jgaski. I tried the following configurations and received the respective errors/warnings:

#### thermal:
[code]

[code]

[code]

#### hydra:
[code]

[code]

[code]

[2016-03-30 00:44] jhamman commented on #435
Okay, it looks like these warnings are not version related and are highlighting a difference in the `openmpi` and `mpich` apis.  See this travis build using `openmpi` from a few minutes ago: https://travis-ci.org/jhamman/VIC/jobs/119402207#L1052-L1107

[2016-03-30 05:02] jhamman commented on #435
It seems we need to use `openmpi` version >1.5.4 ([ref](https://github.com/open-mpi/ompi-release/blob/v1.10/NEWS#L1274)).  It might be possible to get our travis builds to run with 1.6 so we can go that route in the future. For now I'm going to relabel this issue as `testing` and we can come back here later on.

[2016-03-30 07:02] bartnijssen opened #438 "documentation required for new debug branches"
`xxx_debug` branches were created, where `xxx` is `(master | debug)`.

The purpose of these branches is to add debugging code that we do not want in the production versions.

Contributions would be the same as for any other code (go through code review if you want to get it accepted in `develop_debug` or `master_debug`). *_The main rule is that you cannot change state or flux values in the debug c

[2016-03-30 17:12] jhamman opened #442 "Profiling the VIC Image / CESM Drivers"
There has been recent discussion on developing profiling utilities for VIC, particularly the image and CESM drivers.  I've broke the profiling down into 3 main categories based on what we discussed.

### Timing

1.  Clock time for each grid cell for each timestep, basically time spent in `vic_run`.  This would allow us to better understand what types of grid cells / physical situations cause the m

[2016-03-30 17:15] jhamman commented on #433
closed via #434

[2016-03-30 17:15] #433 closed

[2016-03-30 17:27] jhamman commented on #409
merged today: #402 so we're ready to get started here.

[2016-03-30 17:28] jhamman commented on #20
closed by #211 and #402

[2016-03-30 17:28] #20 closed

[2016-03-30 17:29] jhamman commented on #367
closed via #402

[2016-03-30 17:29] #367 closed

[2016-03-30 17:32] jhamman commented on #401
@tbohn - was this done in #402 ?

[2016-03-30 17:49] tbohn commented on #401
No.  Still needs to be done.  I assume it can wait until 5.1?

[2016-03-31 13:22] wietsefranssen opened #443 "add udunits support"
In order to avoid conversion errors (eg to double conversion) while reading forcing data, but also to make it easier for the user to prepair forcing data with different units, I suggest to add support for the udunits2 library.
This library can later also be used to choose the preferred output units of the variables.

I suggest to start to add lines to read the `units` attribute of the forcing vari

[2016-03-31 13:25] wietsefranssen commented on #443
I see now that my previous message appeared just a few seconds ago. In the meanwhile I made a working example. I will make a pull request in order to give you insight of what I did. (in case you want an other way of comparing/sharing in stead of making a pull request, just let me know.

[2016-03-31 16:35] jhamman opened #445 "4d variables are output incorrectly when using >1 processors"
When running the image driver with mpi (> 1 processor), output variables that have 4 dimensions (e.g. soil moisture) are missing a significant portion of their data (scales with number or cores).
The cause is likely in `gather_put_nc_field_double` but I'm not sure why at this point.  Here's a quick figure demonstrating the current problem:

![mpibug](https://cloud.githubusercontent.com/assets/2443

[2016-03-31 16:37] jhamman commented on #445
cc @dgergel - we should add this to the list of system tests we run. We'll want to test that the number of processors doesn't impact the results.  In other words, if we use `mpirun -np {1, 2, 3, or 4}` or don't use `mpirun`, we should get bit for bit results.

[2016-03-31 16:59] jhamman commented on #445
I'm actually seeing this is some of the gathered 3d variables as well, for example here in `OUT_EVAP`:

![mpibug2](https://cloud.githubusercontent.com/assets/2443309/14183862/3b5cc31c-f727-11e5-8aff-cbdf428eac22.png)

[2016-03-31 18:35] tbohn opened #446 "Aerodynamic resistance over lakes uses wind speed over ice even when no ice is present"
This is not a showstopper for 5.0, can wait until 5.1.  This is simply outlining what needs to be fixed.

In 4.2 and prior, aerodynamic resistance over lakes was computed only for the ice-covered case, resulting in a value of 0 being reported when no ice was present.  This was recently improved for 5.0 in PR #425.  However, this solution was not technically correct as it used the wind speed over i

[2016-04-01 02:54] jhamman opened #447 "Implement COMPUTE_TREELINE option in image driver"
In #441, we removed the `COMPUTE_TREELINE` option from the `image` and `cesm` drivers. This option will need to be re-implemented in better fashion in a follow up pull request.

[2016-04-01 03:20] bartnijssen commented on #435
Since this is more a build environment than a VIC code issue can move this to 5.1?

[2016-04-01 03:28] jhamman opened #448 "Documentation: minimum requirements for building/running VIC"
In our documentation updates for VIC 5, we should document minimum version requirements for the dependencies for each driver.

#### Classic
1.  C compiler with C-99 (e.g. gcc 4+, clang 3+)

#### Image
1.  C compiler with C-99 (e.g. gcc 4+, clang 3+)
1.  MPI library with MPI-standard 2.2 (e.g openmpi 1.5.4+, mpich ?)
1.  netCDF 4.?

#### CESM
1.  C compiler with C-99 (e.g. gcc 4+, clang 3+)
1.  For

[2016-04-01 03:37] jhamman opened #449 "ENH: Better validation of MPI_Datatypes"
I’m trying to think of a more robust validation approach when creating the `MPI_Datatype`s in `vic_mpi_support.c`.  Right now, we check that the number of members in the MPI struct matches the number of members we counted in the actual structure definition (most likely in `vic_def.h`). So we are currently checking that we have the right number of members.  This is prone to errors because I can eas

[2016-04-01 06:40] bartnijssen commented on #449
I tried to implement this (see below for an example, by tracking the size of the member elements. Unfortunately, `sizeof(struct)` does not necessarily equal the sum of its members, because the structures add padding to align on n-byte boundaries (for example, 4 byte boundaries). The `sizeof()` includes this padding. Implementing this would likely be hardware dependent, so I have taken it back out,

[2016-04-01 07:31] bartnijssen commented on #449
@jhamman : Also note that `vic_mpi_support.c` has a built in test routine that we should automatically run as part of travis tests. If we keep this updated then it should automatically capture problems like the one we have seen here (or at least I think so, I still need to check that).

[2016-04-01 15:04] jhamman commented on #445
closed by #450.

[2016-04-01 15:04] #445 closed

[2016-04-02 18:09] bartnijssen commented on #449
The test in `vic_mpi_support()` needs work since it does not capture the error that we saw in issue #445 and which was solved with PR #450

[2016-04-03 01:23] jhamman opened #454 "ENH: refactor print libraries"
The current print libraries should be refactored to provide `sprint_*` functions rather than `print_*` functions.  @bartnijssen details this idea in https://github.com/UW-Hydro/VIC/pull/453#issuecomment-204765665. My vote is that we replace all `print_{structure}()` functions with `sprint_{structure}()` equivalents.  The strings populated by the `sprint_*` functions can then easily be fed into a l

[2016-04-03 05:19] pengbinpeluo opened #455 "bug report: error in vegetation parameter(LAI, albedo, etc) initialization when VEGPARAM_LAI=FALSE"
Hi Joe,
I'm afraid that I have found another bug in the released version 4.2.c. When "options.VEGPARAM_LAI" is FALSE, the model will give biased albedo output since the vegetation albedo is not initialized in [read_vegparam.c.](https://github.com/UW-Hydro/VIC/blob/master/src/read_vegparam.c) To fix this bug, the following lines in [read_vegparam.c ](https://github.com/UW-Hydro/VIC/blob/master/src/

[2016-04-03 15:24] jhamman commented on #455
Thanks for the report.  I'm cc'ing @tbohn since he knows this section of the code best.

@pengbinpeluo - would you be willing to submit a bug fix pull request for this?

[2016-04-03 17:18] tbohn commented on #455
Yes, I see what @pengbinpeluo is referring to.  I think the fix should be: move lines 242-247 to immediately before line 217.

[2016-04-04 03:34] pengbinpeluo commented on #455
Hi Joe and Ted, I have submitted a bug fix pull request for this issue. Cheers!

[2016-04-05 22:07] jhamman commented on #429
closed via #431

[2016-04-05 22:07] #429 closed

[2016-04-07 05:08] tbohn opened #457 "image driver miscellaneous issues with state file i/o"
My previous PR (#402) didn't get fully tested due to problems running the model in image mode.  Now that the model is working, I've found a few problems with state file i/o:

1. call to vic_store() was commented out due to not working with MPI
2. state file hard-coded to be written at end of simulation
3. state file name has date appended twice
4. errors attempting to write lat/lon values
5. error

[2016-04-08 18:32] jhamman opened #461 "ENH: Read/write state files in CESM driver"
Related to the issues described in #457, #460 has temporarily disabled reading/writing state files in the CESM driver. Once #457 has been addressed, we should re-enable these features and test the that `rpointer.lnd` file is written/read properly.

[2016-04-08 19:26] jhamman opened #462 "ENH: Remove hard coded literals from snow_utility.c"
There are a number of hard coded literals in `snow_utility.c`.  These should be replaced in either the parameters structure or as constants in `physical_constants.h`.

[2016-04-08 21:45] tbohn opened #463 "Memory leaks"
Using valgrind to run the latest develop branch image driver on Stehekin test case, found unfreed memory in the following places:

Image Driver:
vic_init.c: 74
alloc_atmos.c: 41, 45
vic_mpi_support.c: 61, 62, 63
get_nc_field.c: 44, 124
get_nc_dimension.c: 42
make_veg_var.c: 46
make_snow_data.c: 50
make_cell_data.c: 44
make_energy_bal.c: 49
vic_finalize.c: 106  (from @jhamman's comment below)

Clas

[2016-04-09 20:35] tbohn commented on #405
This was addressed in #425 and can be closed...

[2016-04-09 20:35] tbohn commented on #406
This was addressed in PR #425 and can be closed.

[2016-04-09 20:36] tbohn commented on #419
This was addressed in PR #425 and can be closed

[2016-04-09 20:36] tbohn commented on #420
This was addressed in PR #425 and can be closed

[2016-04-09 22:18] #420 closed

[2016-04-09 22:18] #419 closed

[2016-04-09 22:18] #406 closed

[2016-04-09 22:18] #405 closed

[2016-04-09 22:37] #233 closed

[2016-04-09 22:52] jhamman opened #465 "DOC: Update documentation website for VIC 5 release"
This issue is the master list of documentation improvements that need to be made prior to releasing VIC 5. See the individual issues for more information and discussion.

#### User Guide
- [x] [Image Driver: VIC Model Inputs](http://vic.readthedocs.org/en/develop/Documentation/Drivers/Image/Inputs/) - xref: #469.
- [x] [Image Driver: VIC Model Outputs](http://vic.readthedocs.org/en/develop/Documen

[2016-04-10 02:03] tbohn commented on #358
@jhamman I think I can fix this issue very quickly.  Only 3 offending lines remain, and one of them only requires a simple substitution of one variable for another.  The other 2 are the displacement and roughness variables you and I discussed before.  I'd be happy to set up veg_var versions of these, along the lines of LAI and albedo, which would solve this whole thing.

[2016-04-10 02:05] tbohn commented on #355
@jhamman I can fix this pretty quickly.  In fact, I'll prepare a PR in the next hour.

[2016-04-10 03:15] tbohn commented on #358
Note: dmy is used in a few other places in vic_run, and getting rid of those will take more effort since the use of dmy penetrates pretty far down.  dmy->month is used in canopy_evap() to access various veg_lib array elements and dmy->day_of_year is used in solve_snow() to determine if the the snowpack is in accumulation or ablation phase.  Many functions therefore have dmy in the argument list to

[2016-04-10 03:21] tbohn commented on #358
Another thing dmy->day_in_year is used for is in the call to compute_coszen().  This happens in 2 places, one in vic_run()->calc_Nscale_factors() and the other in vic_run()->surface_fluxes() in prep for the call to faparl().  These two instances are (a) redundant and (b) only invoked if CARBON is true.  I could create a veg_var or atmos element for coszen, compute it outside vic_run(), and pass to

[2016-04-10 03:59] tbohn commented on #377
PR is on the way...

[2016-04-10 05:06] tbohn commented on #377
OK, I can't reproduce this in 5.0 when FROZEN_SOIL is FALSE.  In 5.0, the only way to get to that error message is when FROZEN_SOIL is TRUE.  I've fixed the bug for this case: instead of giving an error when the soil thermal nodes don't extend to the bottom of the soil column, the soil layer temperatures are computed assuming that the temperature of the deepest node pertains to all depths below it

[2016-04-10 05:07] jhamman commented on #358
@tbohn -

I think we follow the ideas you've suggested here. Specifically for the main occurrences of `dmy` in `vic_run()`.

I don't think it is worth the effort at this point to remove the `dmy` strcut from `solve_snow` or `canopy_evap`. It seems like we're not going to completely get rid of `dmy` in `vic_run` before we release 5.0.

However, I think calculating `cozen` in `vic_force` and adding

[2016-04-10 19:57] #355 closed

[2016-04-10 19:57] jhamman commented on #355
closed via #466

[2016-04-10 21:20] tbohn commented on #358
OK, will do.

[2016-04-11 17:21] jhamman commented on #463
I'll also add: https://github.com/UW-Hydro/VIC/pull/460/files#r58979183
vic_finalize.c: 106

[2016-04-11 21:27] jhamman commented on #377
closed via #467

[2016-04-11 21:27] #377 closed

[2016-04-11 22:01] jhamman opened #469 "DOC: Image Driver Model Inputs"
Add documentation for image driver model inputs.  Including:

- Forcing files
- Model parameters
- Initial state file
- Global parameter file

xref: #465

[2016-04-11 22:02] jhamman opened #470 "DOC: Image Driver Model Outputs"
Add documentation for image driver model outputs.  Including:

- History files
- State files
- Log files

xref: #465